<!--<div class="col-md-12 common-table">-->
<!--<h2><span translate="stepApp.dlBookReturn.detail.title">DlBookReturn</span> {{dlBookReturn.id}}</h2>-->
<!--<div class="table-responsive">-->
<!--<table class="table table-striped">-->
<!--&lt;!&ndash;<thead>-->
<!--<tr>-->
<!--<th translate="entity.detail.field">Field</th>-->
<!--<th translate="entity.detail.value">Value</th>-->
<!--</tr>-->
<!--</thead>&ndash;&gt;-->
<!--<tbody>-->
<!--<tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.issueId">IssueId</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="form-control-static">{{dlBookReturn.issueId}}</span>-->
<!--</td>-->
<!--</tr>-->
<!--&lt;!&ndash;  <tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.createdDate">CreatedDate</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="form-control-static">{{dlBookReturn.createdDate | date:'mediumDate'}}</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.updatedDate">UpdatedDate</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="form-control-static">{{dlBookReturn.updatedDate | date:'mediumDate'}}</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.createdBy">CreatedBy</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="form-control-static">{{dlBookReturn.createdBy}}</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.updatedBy">UpdatedBy</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="form-control-static">{{dlBookReturn.updatedBy}}</span>-->
<!--</td>-->
<!--</tr>&ndash;&gt;-->
<!--<tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.status">Status</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="form-control-static">{{dlBookReturn.status}}</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.title">Status</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="form-control-static">{{dlBookReturn.dlBookIssue.title}}</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.author">Status</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="form-control-static">{{dlBookReturn.dlBookIssue.author}}</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.edition">edition</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="form-control-static">{{dlBookReturn.dlBookIssue.dlBookInfo.edition}}</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.instName">Status</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="form-control-static">{{dlBookReturn.institute.name}}</span>-->
<!--</td>-->
<!--</tr><tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.studentId">Status</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="form-control-static">{{dlBookReturn.dlBookIssue.sisStudentInfo.id}}</span>-->
<!--</td>-->
<!--</tr><tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.studentName">Status</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="form-control-static">{{dlBookReturn.dlBookIssue.sisStudentInfo.name}}</span>-->
<!--</td>-->
<!--</tr>-->
<!--</tr> <tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.receivedStatus">Status</span>-->
<!--</td>-->
<!--<td>-->
<!--<span style="background:#ff9999" ng-if="dlBookReturn.receivedStatus=='receivedWithFine'">Received With Fine</span>-->
<!--<span style="background:#ff4d4d" ng-if="dlBookReturn.receivedStatus=='receivedWithCompansationFine'">Received With Compansation & Fine</span>-->
<!--<span style="background:#00cc66" ng-if="dlBookReturn.receivedStatus=='received'">Received</span>-->
<!--<span style="background:#ff6666" ng-if="dlBookReturn.receivedStatus=='receivedWithCompensation'">Received with compansation</span>-->
<!--<span  style="background:#ff0000" ng-if="dlBookReturn.receivedStatus=='notReceived'">Not Received</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.fineDeposit">Status</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="form-control-static">{{dlBookReturn.fineDeposit}}</span>-->
<!--</td>-->
<!--</tr><tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.compensationDeposit">Status</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="form-control-static">{{dlBookReturn.compensationDeposit}}</span>-->
<!--</td>-->
<!--</tr><tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.compensationFineDeposit">Status</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="form-control-static">{{dlBookReturn.compensationFineDeposit}}</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.totalFine">Status</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="form-control-static">{{dlBookReturn.totalFine}}</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.ActualReturnDate">Status</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="form-control-static">{{dlBookReturn.actualReturnDate}}</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.remisionStatus">Status</span>-->
<!--</td>-->
<!--<td>-->
<!--<span style="background:#ff9999" ng-if="dlBookReturn.remissionStatus=='0'">No</span>-->
<!--<span style="background:#ff4d4d" ng-if="dlBookReturn.remissionStatus=='1'">Yes</span>-->
<!--&lt;!&ndash;<span class="form-control-static">{{dlBookReturn.remissionStatus}}</span>&ndash;&gt;-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.CompensationStatus">Status</span>-->
<!--</td>-->
<!--<td>-->
<!--<span style="background:#ff9999" ng-if="dlBookReturn.remissionCompensationStatus=='0'">No</span>-->
<!--<span style="background:#ff4d4d" ng-if="dlBookReturn.remissionCompensationStatus=='1'">Yes</span>-->
<!--&lt;!&ndash;<span class="form-control-static">{{dlBookReturn.remissionCompensationStatus}}</span>&ndash;&gt;-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->
<!--<span translate="stepApp.dlBookReturn.instEmployee">instEmployee</span>-->
<!--</td>-->
<!--<td>-->
<!--<a class="form-control-static" ui-sref="instEmployee.detail({id:dlBookReturn.instEmployee.id})">{{dlBookReturn.instEmployee.name}}</a>-->
<!--</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--<button type="submit"-->
<!--onclick="window.history.back()"-->
<!--class="btn btn-info">-->
<!--<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>-->
<!--</button>-->
<!--</div>-->
<!-- ==============================================================================-->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-12">
            <div class="receipt-head" style="text-align: center">
                <h2>Money Receipt</h2>
            </div>
        </div>
        <div class="col-md-12">
            <table style="width: 100%">
                <tr>
                    <td><p>Student Name : {{dlBookReturn.dlBookIssue.sisStudentInfo.name}}</p></td>
                    <td><p>Receipt No : 007</p></td>
                </tr>
                <tr>
                    <td><p>Student ID : {{dlBookReturn.dlBookIssue.sisStudentInfo.id}}</p></td>
                    <td><p>Date : {{DateForRecipt | date:'mediumDate'}}</p></td>
                </tr>
                <tr>
                    <td><p>Institute Name : {{dlBookReturn.institute.name}}</p></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-md-12">
            <table class="table-value" style="width: 100%; margin: 20px 0px">
                <tr style="background: #e5e5e5">
                    <td>Serial No</td>
                    <td>Requisition No</td>
                    <td>Title</td>
                    <td>Author</td>
                    <td>Edition</td>
                    <td>Status</td>
                </tr>
                <tr>
                    <td>{{ $index + 1 }}</td>
                    <td>{{ dlBookReturn.dlBookIssue.id }}</td>
                    <td>{{ dlBookReturn.dlBookIssue.dlBookInfo.title}}</td>
                    <td>{{ dlBookReturn.dlBookIssue.dlBookInfo.authorName }}</td>
                    <td>{{ dlBookReturn.dlBookIssue.dlBookEdition.edition }}</td>
                    <td>
                        <span style="color:#ff9999" ng-if="dlBookReturn.receivedStatus=='receivedWithFine'">Received With Fine</span>
                        <span style="color:#ff4d4d" ng-if="dlBookReturn.receivedStatus=='receivedWithCompensationFine'">Received With Compansation & Fine</span>
                        <span style="color:#00cc66" ng-if="dlBookReturn.receivedStatus=='received'">Received</span>
                        <span style="color:#ff6666" ng-if="dlBookReturn.receivedStatus=='receivedWithCompensation'">Received with compansation</span>
                        <span  style="color:#ff0000" ng-if="dlBookReturn.receivedStatus=='notReceived'">Not Received</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-12 ">
            <table class="table_area" style="width: 100%; text-align: right">

                <tr ng-if="dlBookReturn.receivedStatus=='receivedWithFine'">
                    <td width="80%">Total Amount of Fine :</td>
                    <td width="20%" class="box" style="border-top:none">{{dlBookReturn.totalFine}}</td>
                </tr>
                <tr ng-if="dlBookReturn.receivedStatus=='receivedWithCompensation'">
                    <td>Total Amount of Compensation:</td>
                    <td class="box">{{dlBookReturn.compensation}}</td>
                </tr>

                <tr ng-if="dlBookReturn.receivedStatus=='receivedWithCompensationFine'">
                    <td>Total Amount of Fine and Compensation:</td>
                    <td class="box">{{dlBookReturn.totalFineCompensation}}</td>
                </tr>


                <tr ng-if="dlBookReturn.receivedStatus=='receivedWithFine'">
                    <td>Remission Fine :</td>
                    <td class="box"><span style="color:#ff9999" ng-if="dlBookReturn.remissionStatus=='0'">No</span>
                        <span style="color:#ff4d4d" ng-if="dlBookReturn.remissionStatus=='1'">Yes</span>
                    </td>
                </tr>
                <tr ng-if="dlBookReturn.receivedStatus=='receivedWithCompensationFine'">
                    <td>Remission Fine :</td>
                    <td class="box"><span style="background:#ff9999" ng-if="dlBookReturn.cfFineStatus=='0'">No</span>
                        <span style="color:#ff4d4d" ng-if="dlBookReturn.cfFineStatus=='1'">Yes</span>
                    </td>
                </tr>
                <tr ng-if="dlBookReturn.receivedStatus=='receivedWithCompensationFine'">
                    <td>Remission compensation :</td>
                    <td class="box"><span style="color:#ff9999" ng-if="dlBookReturn.cfCompensationStatus=='0'">No</span>
                        <span style="color:#ff4d4d" ng-if="dlBookReturn.cfCompensationStatus=='1'">Yes</span>
                    </td>
                </tr>

                <tr ng-if="dlBookReturn.receivedStatus=='receivedWithCompensation'">
                    <td>Remission Compensation :</td>
                    <td class="box"><span style="color:#ff9999" ng-if="dlBookReturn.remissionCompensationStatus=='0'">No</span>
                        <span style="color:#ff4d4d" ng-if="dlBookReturn.remissionCompensationStatus=='1'">Yes</span>
                    </td>
                </tr>
                <tr>
                    <td>Return Date : </td>
                    <td class="box">{{dlBookReturn.actualReturnDate}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-12 ">
            <table class="table_area" style="width: 100%; text-align: right; border-top:none">
                <tr ng-if="dlBookReturn.receivedStatus=='receivedWithFine'">
                    <td width="">Fine Received :</td>
                    <td width="" class="box">{{dlBookReturn.fineDeposit}}</td>
                </tr>
                <tr ng-if="dlBookReturn.receivedStatus=='receivedWithCompensation'">
                    <td width="">Compensation Received :</td>
                    <td width="" class="box">{{dlBookReturn.compensationDeposit}}</td>
                </tr>
                <tr ng-if="dlBookReturn.receivedStatus=='receivedWithCompensationFine'">
                    <td width="">Fine and Compensation Received :</td>
                    <td width="" class="box">{{dlBookReturn.compensationFineDeposit}}</td>
                </tr>

            </table>
        </div>
        <div class="col-md-12 ">
            <table class="table_area" style="width: 100%; text-align: right; border:none">
                <tr>
                    <td width=""><b>Total :</b></td>
                    <td width="" class="box" style="border:none" ng-if="dlBookReturn.receivedStatus=='receivedWithFine'"><b>{{dlBookReturn.fineDeposit}}</b></td>
                    <td width="" class="box" style="border:none" ng-if="dlBookReturn.receivedStatus=='receivedWithCompensation'"><b>{{dlBookReturn.compensationDeposit}}</b></td>
                    <td width="" class="box" style="border:none" ng-if="dlBookReturn.receivedStatus=='receivedWithCompensationFine'"><b>{{dlBookReturn.compensationFineDeposit}}</b></td>
                </tr>
            </table>
        </div>
        <div class="col-md-12" style="text-align: right; margin-top: 30px">
            <p><b>Author Signature:</b> _ _ _ _ _ _</p>
        </div>
    </div>
    <button type="submit" onclick="window.print()" class="btn btn-info no-print">
        <span class="glyphicon glyphicon-arrow-print"></span>&nbsp;<span translate="entity.action.print"> Print</span>
    </button>
</div>
<style>
    .receipt-head h2{
        font-size: 15px;
        color:#444;
        text-transform: uppercase;
    }
    .first_col p{
        border: 1px  solid #ddd;
        border-bottom:none;
        margin: 0;
        padding: 5px;
        text-align: center;
    }
    .box{
        border: 1px solid #ddd;
        text-align: center;
        height: 25px;
         width:184px;
    }
    .table_area tr td:first-child{
        padding-right: 15px;
    }
    .table_area{
        border-bottom: 1px solid #ddd;
        border-top:1px solid #ddd;
    }
    .table-value tr td{
        border: 1px solid #ddd;
        text-align: center;
    }
</style>
