<div>
    <h2 translate="stepApp.instMemShipTemp.home.title">InstMemShipTemps</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="instMemShipTemp.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.instMemShipTemp.home.createLabel">Create a new InstMemShipTemp</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a InstMemShipTemp</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteInstMemShipTempConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(instMemShipTemp.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.instMemShipTemp.delete.question" translate-values="{id: '{{instMemShipTemp.id}}'}">Are you sure you want to delete this InstMemShipTemp?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.instMemShipTemp.fullName">FullName</th>
                    <th translate="stepApp.instMemShipTemp.dob">Dob</th>
                    <th translate="stepApp.instMemShipTemp.gender">Gender</th>
                    <th translate="stepApp.instMemShipTemp.address">Address</th>
                    <th translate="stepApp.instMemShipTemp.email">Email</th>
                    <th translate="stepApp.instMemShipTemp.contact">Contact</th>
                    <th translate="stepApp.instMemShipTemp.designation">Designation</th>
                    <th translate="stepApp.instMemShipTemp.orgName">OrgName</th>
                    <th translate="stepApp.instMemShipTemp.orgAdd">OrgAdd</th>
                    <th translate="stepApp.instMemShipTemp.orgContact">OrgContact</th>
                    <th translate="stepApp.instMemShipTemp.date">Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="instMemShipTemp in instMemShipTemps track by instMemShipTemp.id">
                    <td><a ui-sref="instMemShipTemp.detail({id:instMemShipTemp.id})">{{instMemShipTemp.id}}</a></td>
                    <td>{{instMemShipTemp.fullName}}</td>
                        <td>{{instMemShipTemp.dob | date:'mediumDate'}}</td>
                    <td>{{instMemShipTemp.gender}}</td>
                    <td>{{instMemShipTemp.address}}</td>
                    <td>{{instMemShipTemp.email}}</td>
                    <td>{{instMemShipTemp.contact}}</td>
                    <td>{{instMemShipTemp.designation}}</td>
                    <td>{{instMemShipTemp.orgName}}</td>
                    <td>{{instMemShipTemp.orgAdd}}</td>
                    <td>{{instMemShipTemp.orgContact}}</td>
                        <td>{{instMemShipTemp.date | date:'mediumDate'}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="instMemShipTemp.detail({id:instMemShipTemp.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="instMemShipTemp.edit({id:instMemShipTemp.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(instMemShipTemp.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
