
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myInstEmplExperienceLabel" translate="stepApp.instEmplExperience.home.createOrEditLabel">Create or edit a InstEmplExperience</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="instEmplExperience.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmplExperience.instituteName" for="field_instituteName">InstituteName</label>
            <input type="text" class="form-control" name="instituteName" id="field_instituteName"
                    ng-model="instEmplExperience.instituteName"
                    ng-maxlength="50" />
            <div ng-show="editForm.instituteName.$invalid">
                <p class="help-block"
                    ng-show="editForm.instituteName.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmplExperience.indexNo" for="field_indexNo">IndexNo</label>
            <input type="text" class="form-control" name="indexNo" id="field_indexNo"
                    ng-model="instEmplExperience.indexNo"
                    ng-maxlength="50" />
            <div ng-show="editForm.indexNo.$invalid">
                <p class="help-block"
                    ng-show="editForm.indexNo.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmplExperience.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="instEmplExperience.address"
                    ng-maxlength="512" />
            <div ng-show="editForm.address.$invalid">
                <p class="help-block"
                    ng-show="editForm.address.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="512">
                    This field cannot be longer than 512 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmplExperience.designation" for="field_designation">Designation</label>
            <input type="text" class="form-control" name="designation" id="field_designation"
                    ng-model="instEmplExperience.designation"
                    ng-maxlength="512" />
            <div ng-show="editForm.designation.$invalid">
                <p class="help-block"
                    ng-show="editForm.designation.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="512">
                    This field cannot be longer than 512 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmplExperience.subject" for="field_subject">Subject</label>
            <input type="text" class="form-control" name="subject" id="field_subject"
                    ng-model="instEmplExperience.subject"
                    ng-maxlength="512" />
            <div ng-show="editForm.subject.$invalid">
                <p class="help-block"
                    ng-show="editForm.subject.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="512">
                    This field cannot be longer than 512 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmplExperience.salaryCode" for="field_salaryCode">SalaryCode</label>
            <input type="text" class="form-control" name="salaryCode" id="field_salaryCode"
                    ng-model="instEmplExperience.salaryCode"
                    ng-maxlength="50" />
            <div ng-show="editForm.salaryCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.salaryCode.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmplExperience.joiningDate" for="field_joiningDate">JoiningDate</label>
            <input type="date" class="form-control" name="joiningDate" id="field_joiningDate"
                    ng-model="instEmplExperience.joiningDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmplExperience.mpoEnlistingDate" for="field_mpoEnlistingDate">MpoEnlistingDate</label>
            <input type="date" class="form-control" name="mpoEnlistingDate" id="field_mpoEnlistingDate"
                    ng-model="instEmplExperience.mpoEnlistingDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmplExperience.resignDate" for="field_resignDate">ResignDate</label>
            <input type="date" class="form-control" name="resignDate" id="field_resignDate"
                    ng-model="instEmplExperience.resignDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmplExperience.dateOfPaymentReceived" for="field_dateOfPaymentReceived">DateOfPaymentReceived</label>
            <input type="date" class="form-control" name="dateOfPaymentReceived" id="field_dateOfPaymentReceived"
                    ng-model="instEmplExperience.dateOfPaymentReceived"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmplExperience.startDate" for="field_startDate">StartDate</label>
            <input type="date" class="form-control" name="startDate" id="field_startDate"
                    ng-model="instEmplExperience.startDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmplExperience.endDate" for="field_endDate">EndDate</label>
            <input type="date" class="form-control" name="endDate" id="field_endDate"
                    ng-model="instEmplExperience.endDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmplExperience.vacationFrom" for="field_vacationFrom">VacationFrom</label>
            <input type="date" class="form-control" name="vacationFrom" id="field_vacationFrom"
                    ng-model="instEmplExperience.vacationFrom"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmplExperience.vacationTo" for="field_vacationTo">VacationTo</label>
            <input type="date" class="form-control" name="vacationTo" id="field_vacationTo"
                    ng-model="instEmplExperience.vacationTo"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmplExperience.totalExpFrom" for="field_totalExpFrom">TotalExpFrom</label>
            <input type="date" class="form-control" name="totalExpFrom" id="field_totalExpFrom"
                    ng-model="instEmplExperience.totalExpFrom"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmplExperience.totalExpTo" for="field_totalExpTo">TotalExpTo</label>
            <input type="date" class="form-control" name="totalExpTo" id="field_totalExpTo"
                    ng-model="instEmplExperience.totalExpTo"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instEmplExperience.current" for="field_current">Current</label>
            <input type="checkbox" class="form-control" name="current" id="field_current"
                    ng-model="instEmplExperience.current"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="setAttachment($file, instEmplExperience)">
            <label translate="stepApp.instEmplExperience.attachment" for="field_attachment">Attachment</label>
            <div>
                <div class="help-block clearfix">
                    <span class="pull-left">{{instEmplExperience.attachmentContentType}} {{byteSize(instEmplExperience.attachment)}}</span>
                    <button ng-click="instEmplExperience.attachment=null;instEmplExperience.attachmentContentType=null;"
                            ng-if="instEmplExperience.attachment"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="setAttachment($file, instEmplExperience)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="attachment" id="field_attachment"
                    ng-model="instEmplExperience.attachment"
                     />
            <input type="hidden" class="form-control" name="attachmentContentType" id="field_attachmentContentType"
                    ng-model="instEmplExperience.attachmentContentType" />
        </div>

        <div class="form-group">
            <label translate="stepApp.instEmplExperience.instEmployee" for="field_instEmployee">instEmployee</label>
            <select class="form-control" id="field_instEmployee" name="instEmployee" ng-model="instEmplExperience.instEmployee" ng-options="instEmployee as instEmployee.name for instEmployee in instemployees track by instEmployee.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
