
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myInstitutePlayGroundInfoLabel" translate="stepApp.institutePlayGroundInfo.home.createOrEditLabel">Create or edit a InstitutePlayGroundInfo</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="institutePlayGroundInfo.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.institutePlayGroundInfo.playgroundNo" for="field_playgroundNo">PlaygroundNo</label>
            <input type="text" class="form-control" name="playgroundNo" id="field_playgroundNo"
                    ng-model="institutePlayGroundInfo.playgroundNo"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.institutePlayGroundInfo.area" for="field_area">Area</label>
            <input type="text" class="form-control" name="area" id="field_area"
                    ng-model="institutePlayGroundInfo.area"
                     />
        </div>

        <div class="form-group">
            <label translate="stepApp.institutePlayGroundInfo.instituteInfraInfo" for="field_instituteInfraInfo">instituteInfraInfo</label>
            <select class="form-control" id="field_instituteInfraInfo" name="instituteInfraInfo" ng-model="institutePlayGroundInfo.instituteInfraInfo" ng-options="instituteInfraInfo as instituteInfraInfo.id for instituteInfraInfo in instituteinfrainfos track by instituteInfraInfo.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
