
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myInformationCorrectionEditLogLabel" translate="stepApp.informationCorrectionEditLog.home.createOrEditLabel">Create or edit a InformationCorrectionEditLog</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="informationCorrectionEditLog.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.informationCorrectionEditLog.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                    ng-model="informationCorrectionEditLog.status"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.informationCorrectionEditLog.remarks" for="field_remarks">Remarks</label>
            <input type="text" class="form-control" name="remarks" id="field_remarks"
                    ng-model="informationCorrectionEditLog.remarks"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.informationCorrectionEditLog.date" for="field_date">Date</label>
            <input type="date" class="form-control" name="date" id="field_date"
                    ng-model="informationCorrectionEditLog.date"
                     />
        </div>

        <div class="form-group">
            <label translate="stepApp.informationCorrectionEditLog.informationCorrection" for="field_informationCorrection">informationCorrection</label>
            <select class="form-control" id="field_informationCorrection" name="informationCorrection" ng-model="informationCorrectionEditLog.informationCorrection" ng-options="informationCorrection as informationCorrection.id for informationCorrection in informationcorrections track by informationCorrection.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
