
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myInformationCorrectionStatusLogLabel" translate="stepApp.informationCorrectionStatusLog.home.createOrEditLabel">Create or edit a InformationCorrectionStatusLog</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="informationCorrectionStatusLog.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.informationCorrectionStatusLog.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                    ng-model="informationCorrectionStatusLog.status"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.informationCorrectionStatusLog.remarks" for="field_remarks">Remarks</label>
            <input type="text" class="form-control" name="remarks" id="field_remarks"
                    ng-model="informationCorrectionStatusLog.remarks"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.informationCorrectionStatusLog.fromDate" for="field_fromDate">FromDate</label>
            <input type="date" class="form-control" name="fromDate" id="field_fromDate"
                    ng-model="informationCorrectionStatusLog.fromDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.informationCorrectionStatusLog.toDate" for="field_toDate">ToDate</label>
            <input type="date" class="form-control" name="toDate" id="field_toDate"
                    ng-model="informationCorrectionStatusLog.toDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.informationCorrectionStatusLog.cause" for="field_cause">Cause</label>
            <input type="text" class="form-control" name="cause" id="field_cause"
                    ng-model="informationCorrectionStatusLog.cause"
                     />
        </div>

        <div class="form-group">
            <label translate="stepApp.informationCorrectionStatusLog.informationCorrection" for="field_informationCorrection">informationCorrection</label>
            <select class="form-control" id="field_informationCorrection" name="informationCorrection" ng-model="informationCorrectionStatusLog.informationCorrection" ng-options="informationCorrection as informationCorrection.id for informationCorrection in informationcorrections track by informationCorrection.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
