<div>
    <h2 translate="stepApp.timeScaleApplication.home.title">TimeScaleApplications</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="timeScaleApplication.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.timeScaleApplication.home.createLabel">Create a new TimeScaleApplication</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a TimeScaleApplication</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.timeScaleApplication.date">Date</th>
                    <th translate="stepApp.timeScaleApplication.indexNo">IndexNo</th>
                    <th translate="stepApp.timeScaleApplication.status">Status</th>
                    <th translate="stepApp.timeScaleApplication.resulationDate">ResulationDate</th>
                    <th translate="stepApp.timeScaleApplication.agendaNumber">AgendaNumber</th>
                    <th translate="stepApp.timeScaleApplication.workingBreak">WorkingBreak</th>
                    <th translate="stepApp.timeScaleApplication.workingBreakStart">WorkingBreakStart</th>
                    <th translate="stepApp.timeScaleApplication.workingBreakEnd">WorkingBreakEnd</th>
                    <th translate="stepApp.timeScaleApplication.disciplinaryAction">DisciplinaryAction</th>
                    <th translate="stepApp.timeScaleApplication.disActionCaseNo">DisActionCaseNo</th>
                    <th translate="stepApp.timeScaleApplication.disActionFileName">DisActionFileName</th>
                    <th translate="stepApp.timeScaleApplication.instEmployee">instEmployee</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="timeScaleApplication in timeScaleApplications track by timeScaleApplication.id">
                    <td><a ui-sref="timeScaleApplication.detail({id:timeScaleApplication.id})">{{timeScaleApplication.id}}</a></td>
                        <td>{{timeScaleApplication.date | date:'mediumDate'}}</td>
                    <td>{{timeScaleApplication.indexNo}}</td>
                    <td>{{timeScaleApplication.status}}</td>
                        <td>{{timeScaleApplication.resulationDate | date:'mediumDate'}}</td>
                    <td>{{timeScaleApplication.agendaNumber}}</td>
                    <td>{{timeScaleApplication.workingBreak}}</td>
                        <td>{{timeScaleApplication.workingBreakStart | date:'mediumDate'}}</td>
                        <td>{{timeScaleApplication.workingBreakEnd | date:'mediumDate'}}</td>
                    <td>{{timeScaleApplication.disciplinaryAction}}</td>
                    <td>{{timeScaleApplication.disActionCaseNo}}</td>
                    <td>{{timeScaleApplication.disActionFileName}}</td>
                    <td>
                        <a ui-sref="instEmployee.detail({id:timeScaleApplication.instEmployee.id})">{{timeScaleApplication.instEmployee.name}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="timeScaleApplication.detail({id:timeScaleApplication.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="timeScaleApplication.edit({id:timeScaleApplication.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="timeScaleApplication.delete({id:timeScaleApplication.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
