
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCmsSemesterLabel" translate="stepApp.cmsSemester.home.createOrEditLabel">Create or edit a CmsSemester</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="cmsSemester.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="stepApp.cmsSemester.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="cmsSemester.code"
                    required />
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="stepApp.cmsSemester.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="cmsSemester.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="stepApp.cmsSemester.year" for="field_year">Year</label>
            <input type="number" class="form-control" name="year" id="field_year"
                    ng-model="cmsSemester.year"
                    required />
            <div ng-show="editForm.year.$invalid">
                <p class="help-block"
                    ng-show="editForm.year.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.year.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="stepApp.cmsSemester.duration" for="field_duration">Duration</label>
            <input type="number" class="form-control" name="duration" id="field_duration"
                    ng-model="cmsSemester.duration"
                    required />
            <div ng-show="editForm.duration.$invalid">
                <p class="help-block"
                    ng-show="editForm.duration.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.duration.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="stepApp.cmsSemester.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="cmsSemester.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="stepApp.cmsSemester.status" for="field_status">Status</label>
            <input type="checkbox" class="form-control" name="status" id="field_status"
                    ng-model="cmsSemester.status"
                     />
        </div>

        <div class="form-group">
            <label translate="stepApp.cmsSemester.cmsCurriculum" for="field_cmsCurriculum">cmsCurriculum</label>
            <select class="form-control" id="field_cmsCurriculum" name="cmsCurriculum" ng-model="cmsSemester.cmsCurriculum" ng-options="cmsCurriculum as cmsCurriculum.name for cmsCurriculum in cmscurriculums track by cmsCurriculum.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
