@media only screen and (min-width: 992px) and (max-width: 1200px) {


.parallelogram {

    background: none repeat scroll 0px 0px #0B763B;
        height: 186px;
        position: absolute;
        right: 197px;
        top: 0px;
        transform: skew(31deg);
        width: 35px;
}
.habijabi {
    border-color: transparent #0B763B transparent transparent;
    border-style: solid;
    border-width: 0px 112px 188px 68px;
    height: 0px;
    position: absolute;
    right: 127px;
    top: 0px;
    width: 0px;
}
.khabikahbi {
right: 0px;
    top: 0px;
    transform: skew(0deg);
    width: 128px;
    background: none repeat scroll 0px 0px #0B763B;
    height: 186px;
    position: absolute;
}

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.top-area {
    position: relative;
    margin-bottom: 186px;
}
.top-area-bg {
    background: none repeat scroll 0px 0px #0D9947;
    height: 186px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}
.ins-logo {
    height: 96px;
    left: 32px;
    padding-top: 34px;
    position: absolute;
    top: 0px;
    width: 105px;
}
.banner-heading {
    color: #FFF;
    position: absolute;
    top: 60px;
}
.banner-heading h2 {
    line-height: 13px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
}
.banner-heading h3 {
    margin-left: 31px;
    margin-top: 4px;
    font-size: 17px;
}
.govt-logo {
    height: 96px;
    padding-top: 21px;
    position: absolute;
    right: -6px;
    top: 7px;
    width: 176px;
    z-index: 999;
}
.govt-logo img {
    height: 168px;
    position: absolute;
    top: 7px;
    z-index: 999;
}
    .parallelogram2{
        display: none;
    }
.parallelogram {
    display: none;
    background: none repeat scroll 0px 0px #0B763B;
        height: 186px;
        position: absolute;
        right: 197px;
        top: 0px;
        transform: skew(31deg);
        width: 35px;
}
.habijabi {
    display: none;
    border-color: transparent #0B763B transparent transparent;
    border-style: solid;
    border-width: 0px 112px 188px 68px;
    height: 0px;
    position: absolute;
    right: 127px;
    top: 0px;
    width: 0px;
}
.khabikahbi {
    display: none;
right: 0px;
    top: 0px;
    transform: skew(0deg);
    width: 128px;
    background: none repeat scroll 0px 0px #0B763B;
    height: 186px;
    position: absolute;
}

}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.parallelogram {
display:none;
}
.habijabi {
display:none;
    }
.khabikahbi {
display:none;
}
.ins-logo {
    left: 0px;
    width: 130px;
}
.govt-logo img {
display:none;
}
.register-pan{margin:0 auto;width:75%;}

}
@media only screen and (min-width: 150px) and (max-width: 480px) {
.parallelogram {
    display:none;
}
.habijabi {
        display:none;
    }
.khabikahbi {
        display:none;
}
.govt-logo img {
display:none;
}
.register-pan{margin:0 auto;width:100%;}


}

