<!---===nominee info dialog===--->
<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-heading" >
            <h4 ng-show="hrNomineeInfo.id == null"class="modal-title" translate="stepApp.hrNomineeInfo.home.createOrEditLabel">Create or edit a HrNomineeInfo</h4>
            <h4 ng-show="hrNomineeInfo.id != null"class="modal-title" translate="stepApp.hrNomineeInfo.home.EditLabel">Create or edit a HrNomineeInfo</h4>
        </div>
        <div class="panel-body bg-panel">
            <form  class="form-horizontal " name="editForm" role="form" ng-submit="save()" novalidate  show-validation>

                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="field_workArea" translate="stepApp.hrNomineeInfo.workarea" >Work Area</label>
                            <div class="input-margin">
                                <select class="form-control" id="field_workArea" name="workArea" ng-model="workArea" ng-change="loadModelByWorkArea(workArea)"
                                        ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in workAreaList track by MiscTypeSetup.id">
                                    <option value="">Select Work Area</option>
                                </select>
                                <span class="help">No of Employee: {{hremployeeinfos.length}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group ">
                            <label class="control-label" translate="stepApp.hrNomineeInfo.employeeInfo" for="field_employeeInfo">employeeInfo</label>
                            <div class="input-margin">
                                <input type="text" class="form-control autocomplete" autocomplete="off" ng-model="hrNomineeInfo.employeeInfo" typeahead='HrEmployeeInfo as (HrEmployeeInfo.fullName + " " + HrEmployeeInfo.employeeId) for HrEmployeeInfo in hremployeeinfos | filter:$viewValue' id="field_employeeInfo" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrNomineeInfo.nomineeName" for="field_nomineeName">NomineeName</label>
                        <div class="input-margin">
                            <input type="text" class="form-control" name="nomineeName" id="field_nomineeName"
                                   ng-model="hrNomineeInfo.nomineeName"
                                   required ng-maxlength="100"  required/>
                            <div ng-show="editForm.nomineeName.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.nomineeName.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.nomineeName.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                                    This field cannot be longer than 100 characters.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrNomineeInfo.nomineeNameBn" for="field_nomineeNameBn">NomineeNameBn</label>
                        <div class="input-margin">
                            <input type="text" class="form-control" name="nomineeNameBn" id="field_nomineeNameBn"
                                   ng-model="hrNomineeInfo.nomineeNameBn"/>
                              </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrNomineeInfo.birthDate" for="field_birthDate">BirthDate</label>
                        <div class="input-margin">
                            <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.birthDate"
                                   datepicker-options="calendar.dateOptions" close-text="Close"
                                   ng-click="calendar.open($event, 'birthDate')" class="form-control" name="birthDate" id="field_birthDate"
                                   ng-model="hrNomineeInfo.birthDate"
                                   required />
                            <div ng-show="editForm.birthDate.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.birthDate.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                         </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label"  translate="stepApp.hrNomineeInfo.gender" for="field_gender">Gender</label>
                        <div class="input-margin">
                            <select class="form-control" name="gender" ng-model="hrNomineeInfo.gender" id="field_gender" required>
                                <option value="Male" translate="global.home.male">Male</option>
                                <option value="Female" translate="global.home.female">Female</option>
                                <option value="Other" translate="global.home.others">Other</option>
                            </select>
                            <div ng-show="editForm.gender.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.gender.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrNomineeInfo.relationship" for="field_relationship">Relationship</label>
                        <div class="input-margin">
                            <select class="form-control" id="field_relationship" name="nomineeRelationship" ng-model="hrNomineeInfo.nomineeRelationship" ng-options="MiscTypeSetup as MiscTypeSetup.typeName for MiscTypeSetup in nomineeRelationships track by MiscTypeSetup.id" required>
                                <option value="">Select Relationship</option>
                            </select>
                            <div ng-show="editForm.nomineeRelationship.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.relationship.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrNomineeInfo.occupation" for="field_occupation">Occupation</label>
                        <div class="input-margin">
                            <input type="text" class="form-control" name="occupation" id="field_occupation"
                                   ng-model="hrNomineeInfo.occupation" required/>
                         </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrNomineeInfo.designation" for="field_designation">Designation</label>
                        <div class="input-margin">
                            <input type="text" class="form-control" name="designation" id="field_designation"
                                   ng-model="hrNomineeInfo.designation"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrNomineeInfo.nationalId" for="field_nationalId">NationalId</label>
                        <div class="input-margin">
                            <input type="text" class="form-control" name="nationalId" id="field_nationalId"
                                   ng-model="hrNomineeInfo.nationalId"
                                   ng-minlength="17" ng-maxlength="17" required/>
                            <div ng-show="editForm.nationalId.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.nationalId.$error.minlength" translate="entity.validation.minlength" translate-value-min="17">
                                    This field is required to be at least 17 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.nationalId.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="17">
                                    This field cannot be longer than 17 characters.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrNomineeInfo.mobileNumber" for="field_mobileNumber">MobileNumber</label>
                        <div class="input-margin">
                            <input type="text" class="form-control" name="mobileNumber" id="field_mobileNumber"
                                   ng-model="hrNomineeInfo.mobileNumber" ng-minlength="11" ng-maxlength="18" required numeric-only-mobile />
                            <div ng-show="editForm.mobileNumber.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.mobileNumber.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.mobileNumber.$error.minlength" translate="entity.validation.minlength" translate-value-min="11">
                                    This field is required to be at least 11 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.mobileNumber.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="18">
                                    This field cannot be longer than 18 characters.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrNomineeInfo.activeStatus">ActiveStatus</label>
                        <div class="input-margin">
                            <label class="radio-inline">
                                <input type="radio" data-ng-model="hrNomineeInfo.activeStatus" name="activeStatus" data-ng-value="true" required>&nbsp;<span translate="stepApp.hrNomineeInfo.active"></span>&nbsp;&nbsp;
                            </label>
                            <label class="radio-inline">
                                <input type="radio" data-ng-model="hrNomineeInfo.activeStatus" name="activeStatus" data-ng-value="false">&nbsp;<span translate="stepApp.hrNomineeInfo.inactive"></span>
                            </label>
                            <div ng-show="editForm.activeStatus.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.activeStatus.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.hrNomineeInfo.address" for="field_address">Address</label>
                        <div class="input-margin">
                            <textarea class="form-control" name="address" id="field_address"
                                      ng-model="hrNomineeInfo.address"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-right">
                    <div class="form-group">
                        <div class="">
                            <button type="button" class="btn btn-default"  data-dismiss="modal" onclick="window.history.back()">
                                <span class="glyphicon  glyphicon-chevron-left"></span><span translate="entity.action.back">Back</span>
                            </button>
                            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                                <span class="glyphicon glyphicon-save"></span><span translate="entity.action.save">Save</span>
                            </button>
                        </div>

                    </div>

                </div>
                </div>
            </form>
        </div>
    </div>
</div>
