
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myInstLandTempLabel" translate="stepApp.instLandTemp.home.createOrEditLabel">Create or edit a InstLandTemp</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="instLandTemp.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.instLandTemp.mouja" for="field_mouja">Mouja</label>
            <input type="text" class="form-control" name="mouja" id="field_mouja"
                    ng-model="instLandTemp.mouja"
                    required />
            <div ng-show="editForm.mouja.$invalid">
                <p class="help-block"
                    ng-show="editForm.mouja.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instLandTemp.jlNo" for="field_jlNo">JlNo</label>
            <input type="text" class="form-control" name="jlNo" id="field_jlNo"
                    ng-model="instLandTemp.jlNo"
                    required />
            <div ng-show="editForm.jlNo.$invalid">
                <p class="help-block"
                    ng-show="editForm.jlNo.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instLandTemp.ledgerNo" for="field_ledgerNo">LedgerNo</label>
            <input type="number" class="form-control" name="ledgerNo" id="field_ledgerNo"
                    ng-model="instLandTemp.ledgerNo"
                    required />
            <div ng-show="editForm.ledgerNo.$invalid">
                <p class="help-block"
                    ng-show="editForm.ledgerNo.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ledgerNo.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instLandTemp.dagNo" for="field_dagNo">DagNo</label>
            <input type="text" class="form-control" name="dagNo" id="field_dagNo"
                    ng-model="instLandTemp.dagNo"
                    required />
            <div ng-show="editForm.dagNo.$invalid">
                <p class="help-block"
                    ng-show="editForm.dagNo.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instLandTemp.amountOfLand" for="field_amountOfLand">AmountOfLand</label>
            <input type="number" class="form-control" name="amountOfLand" id="field_amountOfLand"
                    ng-model="instLandTemp.amountOfLand"
                    required />
            <div ng-show="editForm.amountOfLand.$invalid">
                <p class="help-block"
                    ng-show="editForm.amountOfLand.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.amountOfLand.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instLandTemp.landRegistrationLedgerNo" for="field_landRegistrationLedgerNo">LandRegistrationLedgerNo</label>
            <input type="text" class="form-control" name="landRegistrationLedgerNo" id="field_landRegistrationLedgerNo"
                    ng-model="instLandTemp.landRegistrationLedgerNo"
                    required />
            <div ng-show="editForm.landRegistrationLedgerNo.$invalid">
                <p class="help-block"
                    ng-show="editForm.landRegistrationLedgerNo.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instLandTemp.landRegistrationDate" for="field_landRegistrationDate">LandRegistrationDate</label>
            <input type="date" class="form-control" name="landRegistrationDate" id="field_landRegistrationDate"
                    ng-model="instLandTemp.landRegistrationDate"
                    required />
            <div ng-show="editForm.landRegistrationDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.landRegistrationDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instLandTemp.lastTaxPaymentDate" for="field_lastTaxPaymentDate">LastTaxPaymentDate</label>
            <input type="date" class="form-control" name="lastTaxPaymentDate" id="field_lastTaxPaymentDate"
                    ng-model="instLandTemp.lastTaxPaymentDate"
                    required />
            <div ng-show="editForm.lastTaxPaymentDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastTaxPaymentDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.instLandTemp.boundaryNorth" for="field_boundaryNorth">BoundaryNorth</label>
            <input type="number" class="form-control" name="boundaryNorth" id="field_boundaryNorth"
                    ng-model="instLandTemp.boundaryNorth"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instLandTemp.boundarySouth" for="field_boundarySouth">BoundarySouth</label>
            <input type="number" class="form-control" name="boundarySouth" id="field_boundarySouth"
                    ng-model="instLandTemp.boundarySouth"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instLandTemp.boundaryEast" for="field_boundaryEast">BoundaryEast</label>
            <input type="number" class="form-control" name="boundaryEast" id="field_boundaryEast"
                    ng-model="instLandTemp.boundaryEast"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.instLandTemp.boundaryWest" for="field_boundaryWest">BoundaryWest</label>
            <input type="number" class="form-control" name="boundaryWest" id="field_boundaryWest"
                    ng-model="instLandTemp.boundaryWest"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
