        <div class="col-md-12 common-list">
                <h2 class="panel-heading" translate="stepApp.pgmsNotification.home.titleSendList"> PgmsNotifications </h2>
            <div class="col-md-12 padding-tb">
                <div class="col-xs-4 no_padding">
                    <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
                </div>
                <div class="col-xs-4">
                    <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
                </div>
                <div class="col-xs-4 no_padding text-right ">
                    <button class="btn btn-primary" ui-sref="pgmsAppFamilyPension.new">
                        <span class="glyphicon glyphicon-plus"></span> <span
                        translate="stepApp.pgmsAppFamilyPension.home.createLabel">Create a new PgmsAppFamilyPension</span>
                    </button>
                </div>
            </div>
          <div class="col-md-12 table-responsive no_padding">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center" translate="global.form.serial">serial</th>
                        <th translate="global.field.id">ID</th>
                        <th translate="stepApp.pgmsNotification.empId">EmpId</th>
                        <th translate="stepApp.pgmsNotification.empName">EmpName</th>
                        <th translate="stepApp.pgmsNotification.empDesignation">EmpDesignation</th>
                        <th translate="stepApp.pgmsNotification.dateOfBirth">DateOfBirth</th>
                        <th translate="stepApp.pgmsNotification.joiningDate">JoiningDate</th>
                        <th translate="stepApp.pgmsNotification.retiremnntDate">RetiremnntDate</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <!--<tr ng-animate="'animate'" dir-paginate="pgmsNotification in pgmsNotifications | filter:q | itemsPerPage: pageSize track by pgmsNotification.id" current-page="currentPage" >-->
                <tr ng-animate="'animate'" dir-paginate="pgmsNotification in pgmsNotifications | filter:q | itemsPerPage: pageSize track by pgmsNotification.id"
                    current-page="currentPage">
                    <td>{{pageSize*(currentPage-1)+$index+1}}</td>
                        <td><a ui-sref="pgmsNotification.detail({id:pgmsNotification.id})">{{pgmsNotification.id}}</a></td>
                        <td>{{pgmsNotification.empId}}</td>
                        <td>{{pgmsNotification.empName}}</td>
                        <td>{{pgmsNotification.empDesignation}}</td>
                        <td>{{pgmsNotification.dateOfBirth | date:'mediumDate'}}</td>
                        <td>{{pgmsNotification.joiningDate | date:'mediumDate'}}</td>
                        <td>{{pgmsNotification.retiremnntDate | date:'mediumDate'}}</td>
                        <td class="text-right">
                            <button type="button" ng-click="approvalViewDetail(pgmsNotification)" class="btn btn-info btn-sm">
                                <span translate="stepApp.pgmsNotification.requestView">View</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav class="no-print">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                         template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
            </nav>
        </div>
    </div>
</div>

<div class="modal fade " id="approveViewDetailForm">
    <div class="modal-dialog">
        <div class="modal-content common-table">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
                    <h4 class="modal-title">{{approvalObj.viewFormTitle}} Details </h4>
                </div>
                <div class="modal-body">

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><span translate="stepApp.pgmsNotification.fieldName">Field</span></th>
                                <th><span translate="stepApp.pgmsNotification.fieldData">Value</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsNotification.empId">EmpId</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.empId}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsNotification.empName">EmpName</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.empName}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsNotification.empDesignation">EmpDesignation</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.empDesignation}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsNotification.dateOfBirth">DateOfBirth</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.dateOfBirth | date:'mediumDate'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsNotification.joiningDate">JoiningDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.joiningDate | date:'mediumDate'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsNotification.retiremnntDate">RetiremnntDate</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.retiremnntDate | date:'mediumDate'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsNotification.workDuration">WorkDuration</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.workDuration}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsNotification.contactNumber">ContactNumber</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.contactNumber}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span translate="stepApp.pgmsNotification.message">Message</span>
                                </td>
                                <td>
                                    <span class="form-control-static">{{approvalObj.message}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>



