
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPgmsNotificationLabel" translate="stepApp.pgmsNotification.home.createOrEditLabel">Create or edit a PgmsNotification</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="pgmsNotification.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.pgmsNotification.empId" for="field_empId">EmpId</label>
            <input type="number" class="form-control" name="empId" id="field_empId"
                    ng-model="pgmsNotification.empId"
                    required />
            <div ng-show="editForm.empId.$invalid">
                <p class="help-block"
                    ng-show="editForm.empId.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.empId.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.pgmsNotification.empName" for="field_empName">EmpName</label>
            <input type="text" class="form-control" name="empName" id="field_empName"
                    ng-model="pgmsNotification.empName"
                    required />
            <div ng-show="editForm.empName.$invalid">
                <p class="help-block"
                    ng-show="editForm.empName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.pgmsNotification.empDesignation" for="field_empDesignation">EmpDesignation</label>
            <input type="text" class="form-control" name="empDesignation" id="field_empDesignation"
                    ng-model="pgmsNotification.empDesignation"
                    required />
            <div ng-show="editForm.empDesignation.$invalid">
                <p class="help-block"
                    ng-show="editForm.empDesignation.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.pgmsNotification.dateOfBirth" for="field_dateOfBirth">DateOfBirth</label>
            <input type="date" class="form-control" name="dateOfBirth" id="field_dateOfBirth"
                    ng-model="pgmsNotification.dateOfBirth"
                    required />
            <div ng-show="editForm.dateOfBirth.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateOfBirth.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.pgmsNotification.joiningDate" for="field_joiningDate">JoiningDate</label>
            <input type="date" class="form-control" name="joiningDate" id="field_joiningDate"
                    ng-model="pgmsNotification.joiningDate"
                    required />
            <div ng-show="editForm.joiningDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.joiningDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.pgmsNotification.retiremnntDate" for="field_retiremnntDate">RetiremnntDate</label>
            <input type="date" class="form-control" name="retiremnntDate" id="field_retiremnntDate"
                    ng-model="pgmsNotification.retiremnntDate"
                    required />
            <div ng-show="editForm.retiremnntDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.retiremnntDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.pgmsNotification.workDuration" for="field_workDuration">WorkDuration</label>
            <input type="number" class="form-control" name="workDuration" id="field_workDuration"
                    ng-model="pgmsNotification.workDuration"
                    required />
            <div ng-show="editForm.workDuration.$invalid">
                <p class="help-block"
                    ng-show="editForm.workDuration.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.workDuration.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.pgmsNotification.contactNumber" for="field_contactNumber">ContactNumber</label>
            <input type="number" class="form-control" name="contactNumber" id="field_contactNumber"
                    ng-model="pgmsNotification.contactNumber"
                    required />
            <div ng-show="editForm.contactNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.contactNumber.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.contactNumber.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.pgmsNotification.message" for="field_message">Message</label>
            <input type="text" class="form-control" name="message" id="field_message"
                    ng-model="pgmsNotification.message"
                    required />
            <div ng-show="editForm.message.$invalid">
                <p class="help-block"
                    ng-show="editForm.message.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.pgmsNotification.notificationStatus" for="field_notificationStatus">NotificationStatus</label>
            <input type="checkbox" class="form-control" name="notificationStatus" id="field_notificationStatus"
                    ng-model="pgmsNotification.notificationStatus"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.pgmsNotification.activeStatus" for="field_activeStatus">ActiveStatus</label>
            <input type="checkbox" class="form-control" name="activeStatus" id="field_activeStatus"
                    ng-model="pgmsNotification.activeStatus"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.pgmsNotification.createDate" for="field_createDate">CreateDate</label>
            <input type="date" class="form-control" name="createDate" id="field_createDate"
                    ng-model="pgmsNotification.createDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.pgmsNotification.createBy" for="field_createBy">CreateBy</label>
            <input type="number" class="form-control" name="createBy" id="field_createBy"
                    ng-model="pgmsNotification.createBy"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.pgmsNotification.updateDate" for="field_updateDate">UpdateDate</label>
            <input type="date" class="form-control" name="updateDate" id="field_updateDate"
                    ng-model="pgmsNotification.updateDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.pgmsNotification.updateBy" for="field_updateBy">UpdateBy</label>
            <input type="number" class="form-control" name="updateBy" id="field_updateBy"
                    ng-model="pgmsNotification.updateBy"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
