
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myMpoSalaryFlowLabel" translate="stepApp.mpoSalaryFlow.home.createOrEditLabel">Create or edit a MpoSalaryFlow</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="mpoSalaryFlow.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.reportName" for="field_reportName">ReportName</label>
            <input type="text" class="form-control" name="reportName" id="field_reportName"
                    ng-model="mpoSalaryFlow.reportName"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.urls" for="field_urls">Urls</label>
            <input type="text" class="form-control" name="urls" id="field_urls"
                    ng-model="mpoSalaryFlow.urls"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.forwardTo" for="field_forwardTo">ForwardTo</label>
            <input type="number" class="form-control" name="forwardTo" id="field_forwardTo"
                    ng-model="mpoSalaryFlow.forwardTo"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.forwardFrom" for="field_forwardFrom">ForwardFrom</label>
            <input type="number" class="form-control" name="forwardFrom" id="field_forwardFrom"
                    ng-model="mpoSalaryFlow.forwardFrom"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.forwardToRole" for="field_forwardToRole">ForwardToRole</label>
            <input type="text" class="form-control" name="forwardToRole" id="field_forwardToRole"
                    ng-model="mpoSalaryFlow.forwardToRole"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.status" for="field_status">Status</label>
            <input type="checkbox" class="form-control" name="status" id="field_status"
                    ng-model="mpoSalaryFlow.status"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.approveStatus" for="field_approveStatus">ApproveStatus</label>
            <input type="text" class="form-control" name="approveStatus" id="field_approveStatus"
                    ng-model="mpoSalaryFlow.approveStatus"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.userLock" for="field_userLock">UserLock</label>
            <input type="checkbox" class="form-control" name="userLock" id="field_userLock"
                    ng-model="mpoSalaryFlow.userLock"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.levels" for="field_levels">Levels</label>
            <input type="number" class="form-control" name="levels" id="field_levels"
                    ng-model="mpoSalaryFlow.levels"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.dteStatus" for="field_dteStatus">DteStatus</label>
            <input type="text" class="form-control" name="dteStatus" id="field_dteStatus"
                    ng-model="mpoSalaryFlow.dteStatus"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.dteId" for="field_dteId">DteId</label>
            <input type="number" class="form-control" name="dteId" id="field_dteId"
                    ng-model="mpoSalaryFlow.dteId"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.dteApproveDate" for="field_dteApproveDate">DteApproveDate</label>
            <input type="date" class="form-control" name="dteApproveDate" id="field_dteApproveDate"
                    ng-model="mpoSalaryFlow.dteApproveDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.ministryStatus" for="field_ministryStatus">MinistryStatus</label>
            <input type="text" class="form-control" name="ministryStatus" id="field_ministryStatus"
                    ng-model="mpoSalaryFlow.ministryStatus"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.ministryId" for="field_ministryId">MinistryId</label>
            <input type="number" class="form-control" name="ministryId" id="field_ministryId"
                    ng-model="mpoSalaryFlow.ministryId"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.ministryApproveDate" for="field_ministryApproveDate">MinistryApproveDate</label>
            <input type="date" class="form-control" name="ministryApproveDate" id="field_ministryApproveDate"
                    ng-model="mpoSalaryFlow.ministryApproveDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.agStatus" for="field_agStatus">AgStatus</label>
            <input type="text" class="form-control" name="agStatus" id="field_agStatus"
                    ng-model="mpoSalaryFlow.agStatus"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.agId" for="field_agId">AgId</label>
            <input type="number" class="form-control" name="agId" id="field_agId"
                    ng-model="mpoSalaryFlow.agId"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.agApproveDate" for="field_agApproveDate">AgApproveDate</label>
            <input type="date" class="form-control" name="agApproveDate" id="field_agApproveDate"
                    ng-model="mpoSalaryFlow.agApproveDate"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.dteComments" for="field_dteComments">DteComments</label>
            <input type="text" class="form-control" name="dteComments" id="field_dteComments"
                    ng-model="mpoSalaryFlow.dteComments"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.ministryComments" for="field_ministryComments">MinistryComments</label>
            <input type="text" class="form-control" name="ministryComments" id="field_ministryComments"
                    ng-model="mpoSalaryFlow.ministryComments"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.agComments" for="field_agComments">AgComments</label>
            <input type="text" class="form-control" name="agComments" id="field_agComments"
                    ng-model="mpoSalaryFlow.agComments"
                     />
        </div>
        <div class="form-group">
            <label translate="stepApp.mpoSalaryFlow.comments" for="field_comments">Comments</label>
            <input type="text" class="form-control" name="comments" id="field_comments"
                    ng-model="mpoSalaryFlow.comments"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
