<!--service assign dialog-->
<div class="service-form-area">
    <div class="panel panel-default">
        <div class="panel-heading" >
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    ng-click="clear()">&times;</button>
            <h4 class="modal-title" id="mySmsServiceAssignLabel" translate="stepApp.smsServiceAssign.home.createOrEditLabel">Create or edit a SmsServiceAssign</h4>
        </div>
        <div class="panel-body bg-panel">
            <jh-alert-error></jh-alert-error>

            <form  class="form-horizontal " name="editForm" role="form" novalidate ng-submit="save()" show-validation>




                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label  class="control-label" translate="stepApp.smsServiceAssign.smsServiceDepartment" for="field_smsServiceDepartment">smsServiceDepartment</label>

                        <div class="input-margin">
                            <select  id="field_smsServiceDepartment" name="smsServiceDepartment"
                                     ng-model="smsServiceAssign.smsServiceDepartment" ng-options="smsServiceDepartment as smsServiceDepartment.name for smsServiceDepartment in smsservicedepartments track by smsServiceDepartment.id">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label  class="control-label" translate="stepApp.smsServiceAssign.employee" for="field_employee">employee</label>

                        <div class="input-margin">
                            <select  d="field_employee" name="employee" ng-model="smsServiceAssign.employee" ng-options="employee as employee.name for employee in employees track by employee.id">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>





                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" translate="stepApp.smsServiceAssign.activeStatus" for="field_activeStatus">ActiveStatus</label>


                        <input type="checkbox" class="form-control checkbox-inline" name="activeStatus" id="field_activeStatus" ng-model="smsServiceAssign.activeStatus" />


                    </div>
                </div>



                <div class="form-group">
                    <span>{{responseMessage}}&nbsp;</span>
                </div>



                <div class="col-md-12">
                    <div class="form-group">

                        <div class="right-side">
                            <button type="button" class="btn btn-default" class="btn " data-dismiss="modal" onclick="window.history.back()">
                                <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.back">Back</span>
                            </button>
                            <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                                <i class="fa fa-hdd-o"></i>&nbsp;<span translate="entity.action.save">Save</span>
                            </button>

                        </div>

                    </div>

                </div>

            </form>


        </div>
    </div>
</div>
<!--End service assign dialog-->




<!--<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySmsServiceAssignLabel" translate="stepApp.smsServiceAssign.home.createOrEditLabel">Create or edit a SmsServiceAssign</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group" ng-hide="true">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="smsServiceAssign.id" readonly />
        </div>

        <div class="form-group">
            <label translate="stepApp.smsServiceAssign.smsServiceDepartment" for="field_smsServiceDepartment">smsServiceDepartment</label>
            <select class="form-control" id="field_smsServiceDepartment" name="smsServiceDepartment"
                    ng-model="smsServiceAssign.smsServiceDepartment" ng-options="smsServiceDepartment as smsServiceDepartment.name for smsServiceDepartment in smsservicedepartments track by smsServiceDepartment.id">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label translate="stepApp.smsServiceAssign.employee" for="field_employee">employee</label>
            <select class="form-control" id="field_employee" name="employee" ng-model="smsServiceAssign.employee" ng-options="employee as employee.name for employee in employees track by employee.id">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" translate="stepApp.smsServiceAssign.activeStatus" for="field_activeStatus">ActiveStatus</label>
            <input type="checkbox" class="form-control" name="activeStatus" id="field_activeStatus"
                   ng-model="smsServiceAssign.activeStatus" />
        </div>

        <div class="form-group">
            <span>{{responseMessage}}&nbsp;</span>
        </div>
    <!--
        <div class="form-group">
            <label translate="stepApp.smsServiceAssign.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="smsServiceAssign.user" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div> -->
<!--  </div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" class="btn pull-left" data-dismiss="modal" onclick="window.history.back()">
        <span class=" glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back">Back</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
    </button>
</div>
</form>
