<div class="row">
    <div class="col-md-3">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>
<div class="col-md-9 common-list">
<h2 translate="stepApp.notificationStep.home.title">NotificationSteps</h2>

    <!--<div class="col-sm-12  padding-tb no-print">
        <div class="col-md-8 no_padding ">
            <div class="col-md-6 no_padding">
                <b> <span translate="global.home.searchhere"></span>:</b>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </div>
            </div>
            <div class="col-md-6">
                <b><span translate="global.home.itemperpage"></span>:</b>
                <div class="input-group">
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
            </div>
        </div>
        <div class="col-md-4 no_padding text-right btn-top">
            <button class="btn btn-primary" ui-sref="notificationStep.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.notificationStep.home.createLabel">Create a new NotificationStep</span>
            </button>
        </div>
    </div>-->
    <div class="col-md-12 padding-bt">
        <div class="col-xs-4 no_padding">
            <input ng-model="q" id="search" class="form-control" placeholder="{{'global.home.searchhere'  | translate}}">
        </div>
        <div class="col-xs-4">
            <input type="number" min="1" max="100" class="form-control" placeholder="{{'global.home.itemperpage'  | translate}}" ng-model="pageSize">
        </div>
        <div class="col-xs-4 no_padding text-right ">
            <button class="btn btn-primary" ui-sref="notificationStep.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="stepApp.notificationStep.home.createLabel">Create a new NotificationStep</span>
            </button>
        </div>
    </div>

    <div class="modal fade" id="deleteNotificationStepConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(notificationStep.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.notificationStep.delete.question" translate-values="{id: '{{notificationStep.id}}'}">Are you sure you want to delete this NotificationStep?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 table-responsive no_padding">
        <table class=" table table-striped">
            <thead>
                <tr>
                    <th translate="global.form.serial">serial</th>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.notificationStep.userId">UserId</th>
                    <th translate="stepApp.notificationStep.notifyDate">NotifyDate</th>
                    <th translate="stepApp.notificationStep.urls">Urls</th>
                    <th translate="stepApp.notificationStep.status">Status</th>
                    <th translate="stepApp.notificationStep.createBy">CreateBy</th>
                    <th translate="stepApp.notificationStep.createDate">CreateDate</th>
                    <th translate="stepApp.notificationStep.updateBy">UpdateBy</th>
                    <th translate="stepApp.notificationStep.updateDate">UpdateDate</th>
                    <th translate="stepApp.notificationStep.remarks">Remarks</th>
                    <th translate="stepApp.notificationStep.notification">Notification</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="notificationStep in notificationSteps | filter:q | itemsPerPage: pageSize track by notificationStep.id" current-page="currentPage">
                    <td>{{$index+1}}</td>
                    <td><a ui-sref="notificationStep.detail({id:notificationStep.id})">{{notificationStep.id}}</a></td>
                    <td>{{notificationStep.userId}}</td>
                        <td>{{notificationStep.notifyDate | date:'mediumDate'}}</td>
                    <td>{{notificationStep.urls}}</td>
                    <td>{{notificationStep.status}}</td>
                    <td>{{notificationStep.createBy}}</td>
                        <td>{{notificationStep.createDate | date:'mediumDate'}}</td>
                    <td>{{notificationStep.updateBy}}</td>
                        <td>{{notificationStep.updateDate | date:'mediumDate'}}</td>
                    <td>{{notificationStep.remarks}}</td>
                    <td>{{notificationStep.notification}}</td>
                    <td class="text-right no-print">
                        <button type="submit"
                                ui-sref="notificationStep.detail({id:notificationStep.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="notificationStep.edit({id:notificationStep.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(notificationStep.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav class="no-print">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/scripts/components/navbar/pagination.html"></dir-pagination-controls>
        </nav>
    </div>
</div>
</div>
