
<div>
    <h2><span translate="stepApp.pgmsAppFamilyAttach.detail.title">PgmsAppFamilyAttach</span> {{pgmsAppFamilyAttach.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyAttach.attachName">attachName</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="PgmsRetirmntAttachInfo.detail({id:pgmsAppFamilyAttach.attachName.id})">{{pgmsAppFamilyAttach.attachName.attachName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyAttach.appFamilyPenId">AppFamilyPenId</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyAttach.appFamilyPenId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyAttach.attachment">Attachment</span>
                </td>
                <td>
                    <div><a ng-if="pgmsAppFamilyAttach.attachmentContentType" class="btn btn-link" ng-click="previewDoc(pgmsAppFamilyAttach)">View</a></div>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppFamilyAttach.attachDocName">AttachDocName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppFamilyAttach.attachDocName}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-default" class="btn " data-dismiss="modal" onclick="window.history.back()">
        <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.back">Back</span>
    </button>
</div>
