
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAttachmentLabel" translate="stepApp.attachment.home.createOrEditLabel">Create or edit a Attachment</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="attachment.id" readonly />
        </div>
        <div class="form-group">
            <label translate="stepApp.attachment.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="attachment.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="stepApp.attachment.fileName" for="field_fileName">FileName</label>
            <input type="text" class="form-control" name="fileName" id="field_fileName"
                    ng-model="attachment.fileName"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="setFile($file, attachment)">
            <label translate="stepApp.attachment.file" for="field_file">File</label>
            <div>
                <div class="help-block clearfix">
                    <span class="pull-left">{{attachment.fileContentType}} {{byteSize(attachment.file)}}</span>
                    <button ng-click="attachment.file=null;attachment.fileContentType=null;"
                            ng-if="attachment.file"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="setFile($file, attachment)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="file" id="field_file"
                    ng-model="attachment.file"
                     />
            <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                    ng-model="attachment.fileContentType" />
        </div>
        <div class="form-group">
            <label translate="stepApp.attachment.remarks" for="field_remarks">Remarks</label>
            <input type="text" class="form-control" name="remarks" id="field_remarks"
                    ng-model="attachment.remarks"
                     />
        </div>

        <div class="form-group">
            <label translate="stepApp.attachment.instEmployee" for="field_instEmployee">instEmployee</label>
            <select class="form-control" id="field_instEmployee" name="instEmployee" ng-model="attachment.instEmployee" ng-options="instEmployee as instEmployee.name for instEmployee in instemployees track by instEmployee.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="stepApp.attachment.attachmentCategory" for="field_attachmentCategory">attachmentCategory</label>
            <select class="form-control" id="field_attachmentCategory" name="attachmentCategory" ng-model="attachment.attachmentCategory" ng-options="attachmentCategory as attachmentCategory.name for attachmentCategory in attachmentcategorys track by attachmentCategory.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
