<div class="col-md-12 common-table">
    <h2><span translate="stepApp.pgmsAppRetirmntPen.detail.title">PgmsAppRetirmntPen</span> <!--{{pgmsAppRetirmntPen.id}}--></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <!--<thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.instEmpId">instEmpId</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="HrEmployeeInfo.detail({id:pgmsAppRetirmntPen.instEmpId.id})">{{pgmsAppRetirmntPen.instEmpId.employeeId}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.withdrawnType">WithdrawnType</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntPen.withdrawnType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.applicationType">ApplicationType</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntPen.applicationType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.rcvGrStatus">RcvGrStatus</span>
                </td>
                <td>
                    <span class="form-control-static" ng-if="pgmsAppRetirmntPen.rcvGrStatus==true">Active</span>
                    <span class="form-control-static" ng-if="pgmsAppRetirmntPen.rcvGrStatus==false">Inactive</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.workDuration">WorkDuration</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntPen.workDuration}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.emergencyContact">EmergencyContact</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntPen.emergencyContact}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.bankAccStatus">BankAccStatus</span>

                </td>
                <td>
                    <span class="form-control-static" ng-if="pgmsAppRetirmntPen.bankAccStatus==true">Yes</span>
                    <span class="form-control-static" ng-if="pgmsAppRetirmntPen.bankAccStatus==false">No</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.bankName">BankName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntPen.bankName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.bankAcc">BankAcc</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntPen.bankAcc}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.bankBranch">BankBranch</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntPen.bankBranch}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.appDate">AppDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntPen.appDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.appNo">AppNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntPen.appNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.aprvStatus">AprvStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntPen.aprvStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.aprvDate">AprvDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntPen.aprvDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.aprvBy">AprvBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntPen.aprvBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.activeStatus">ActiveStatus</span>
                </td>
                <td>
                    <span class="form-control-static" ng-if="pgmsAppRetirmntPen.activeStatus==true">Active</span>
                    <span class="form-control-static" ng-if="pgmsAppRetirmntPen.activeStatus==false">Inactive</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.createDate">CreateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntPen.createDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.createBy">CreateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntPen.createBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.updateBy">UpdateBy</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntPen.updateBy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntPen.updateDate">UpdateDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntPen.updateDate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <b class="form-control-static">  Retirement Application Nominee Information </b></span>
                </td>
            </tr>
            <tr ng-repeat-start="retirmntNmine in pgmsHrNomineeList">
                <td>
                    <b class="form-control-static"> Nominee Name</b>
                </td>
                <td>
                    <span class="form-control-static">{{retirmntNmine.nomineeName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntNmine.nomineeStatus">NomineeStatus</span>
                </td>
                <td>
                    <span class="form-control-static" ng-if="retirmntNmine.nomineeStatus==true">Yes</span>
                    <span class="form-control-static" ng-if="retirmntNmine.nomineeStatus==false">No</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntNmine.nomineeName">NomineeName</span>
                </td>
                <td>
                    <span class="form-control-static">{{retirmntNmine.nomineeName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntNmine.gender">Gender</span>
                </td>
                <td>
                    <span class="form-control-static">{{retirmntNmine.gender}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntNmine.relation">Relation</span>
                </td>
                <td>
                    <span class="form-control-static">{{retirmntNmine.relation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntNmine.dateOfBirth">DateOfBirth</span>
                </td>
                <td>
                    <span class="form-control-static">{{retirmntNmine.dateOfBirth | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntNmine.presentAddress">PresentAddress</span>
                </td>
                <td>
                    <span class="form-control-static">{{retirmntNmine.presentAddress}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntNmine.nid">Nid</span>
                </td>
                <td>
                    <span class="form-control-static">{{retirmntNmine.nid}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntNmine.occupation">Occupation</span>
                </td>
                <td>
                    <span class="form-control-static">{{retirmntNmine.occupation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntNmine.designation">Designation</span>
                </td>
                <td>
                    <span class="form-control-static">{{retirmntNmine.designation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntNmine.maritalStatus">MaritalStatus</span>
                </td>
                <td>
                    <span class="form-control-static">{{retirmntNmine.maritalStatus}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntNmine.mobileNo">MobileNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{retirmntNmine.mobileNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntNmine.getPension">GetPension</span>
                </td>
                <td>
                    <span class="form-control-static">{{retirmntNmine.getPension}}</span>
                </td>
            </tr>
            <tr ng-repeat-end>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntNmine.hrNomineeInfo">HrNomineeInfo</span>
                </td>
                <td>
                    <span class="form-control-static" ng-if="retirmntNmine.hrNomineeInfo==true">Active</span>
                    <span class="form-control-static" ng-if="retirmntNmine.hrNomineeInfo==false">Inactive</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <b class="form-control-static">  Retirement Application Attachment Information </b></span>
                </td>
            </tr>
            <tr ng-repeat-start="pgmsAppRetirmntAttach in pgmsAppRetirementAttachList">
                <td>
                    <span translate="stepApp.pgmsAppRetirmntAttach.attachName">attachName</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="PgmsRetirmntAttachInfo.detail({id:pgmsAppRetirmntAttach.attachName.id})">{{pgmsAppRetirmntAttach.attachName.attachName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntAttach.attachment">Attachment</span>
                </td>
                <td>
                    <div><a ng-if="pgmsAppRetirmntAttach.attachmentContentType" class="btn btn-link" ng-click="previewDoc(pgmsAppRetirmntAttach)">View</a></div>

                </td>
            </tr>
            <tr ng-repeat-end>
                <td>
                    <span translate="stepApp.pgmsAppRetirmntAttach.attachDocName">AttachDocName</span>
                </td>
                <td>
                    <span class="form-control-static">{{pgmsAppRetirmntAttach.attachDocName}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-default no-print" data-dismiss="modal" onclick="window.history.back()">
        <i class="fa fa-angle-double-left"></i>&nbsp;<span translate="entity.action.back">Back</span>
    </button>
</div>
