<div>
    <h2 translate="stepApp.professionalQualification.home.title">ProfessionalQualifications</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="professionalQualification.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.professionalQualification.home.createLabel">Create a new ProfessionalQualification</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a ProfessionalQualification</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.professionalQualification.name">Name</th>
                    <th translate="stepApp.professionalQualification.location">Location</th>
                    <th translate="stepApp.professionalQualification.dateFrom">DateFrom</th>
                    <th translate="stepApp.professionalQualification.dateTo">DateTo</th>
                    <th translate="stepApp.professionalQualification.duration">Duration</th>
                    <th translate="stepApp.professionalQualification.employee">employee</th>
                    <th translate="stepApp.professionalQualification.institute">institute</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="professionalQualification in professionalQualifications track by professionalQualification.id">
                    <td><a ui-sref="professionalQualification.detail({id:professionalQualification.id})">{{professionalQualification.id}}</a></td>
                    <td>{{professionalQualification.name}}</td>
                    <td>{{professionalQualification.location}}</td>
                        <td>{{professionalQualification.dateFrom | date:'mediumDate'}}</td>
                        <td>{{professionalQualification.dateTo | date:'mediumDate'}}</td>
                    <td>{{professionalQualification.duration}}</td>
                    <td>
                        <a ui-sref="employee.detail({id:professionalQualification.employee.id})">{{professionalQualification.employee.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="institute.detail({id:professionalQualification.institute.id})">{{professionalQualification.institute.name}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="professionalQualification.detail({id:professionalQualification.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="professionalQualification.edit({id:professionalQualification.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="professionalQualification.delete({id:professionalQualification.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
