<div class="col-sm-12 no_padding lbl-content common-list">
    <h2 translate="stepApp.dlBookRequisition.home.title">DlBookRequisitions</h2>
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a DlBookRequisition</span>
                    </button>
                </form>
            </div>
            <!--<div class="col-md-4">-->
                <!--<button class="btn btn-primary" ui-sref="dlBookRequisition.new">-->
                    <!--<span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.dlBookRequisition.home.createLabel">Create a new DlBookRequisition</span>-->
                <!--</button>-->
            <!--</div>-->
        </div>
    </div>

    <div class="modal fade" id="deleteDlBookRequisitionConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(dlBookRequisition.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.dlBookRequisition.delete.question" translate-values="{id: '{{dlBookRequisition.id}}'}">Are you sure you want to delete this DlBookRequisition?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="modal fade" id="ApproveDlBookRequisitionConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmApprove(dlBookRequisition.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm Approve operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.dlBookRequisition.delete.approve" translate-values="{id: '{{dlBookRequisition.id}}'}">Are you sure you want to Approve this DlBookRequisition?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span>&nbsp;<span translate="entity.action.approve">approve</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.dlBookRequisition.title">Title</th>
                    <th translate="stepApp.dlBookRequisition.edition">Edition</th>
                    <th translate="stepApp.dlBookRequisition.authorName">AuthorName</th>
                    <!--<th translate="stepApp.dlBookRequisition.createDate">CreateDate</th>-->
                    <!--<th translate="stepApp.dlBookRequisition.updateDate">UpdateDate</th>-->
                    <!--<th translate="stepApp.dlBookRequisition.createBy">CreateBy</th>-->
                    <!--<th translate="stepApp.dlBookRequisition.updateBy">UpdateBy</th>-->
                    <th translate="stepApp.dlBookRequisition.status">Status</th>
                    <th translate="stepApp.dlBookRequisition.dlContTypeSet">dlContTypeSet</th>
                    <th translate="stepApp.dlBookRequisition.dlContCatSet">dlContCatSet</th>
                    <th translate="stepApp.dlBookRequisition.dlContSCatSet">dlContSCatSet</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dlBookRequisition in dlBookRequisitionsssssssssss">
                    <td><a ui-sref="dlBookRequisition.detail({id:dlBookRequisition.id})">{{dlBookRequisition.id}}</a></td>
                    <td>{{dlBookRequisition.title}}</td>
                    <td>{{dlBookRequisition.edition}}</td>
                    <td>{{dlBookRequisition.authorName}}</td>
                        <!--<td>{{dlBookRequisition.createDate | date:'mediumDate'}}</td>-->
                        <!--<td>{{dlBookRequisition.updateDate | date:'mediumDate'}}</td>-->
                    <!--<td>{{dlBookRequisition.createBy}}</td>-->
                    <!--<td>{{dlBookRequisition.updateBy}}</td>-->
                    <!--<td>{{dlBookRequisition.status}}</td>-->
                    <td>
                        <span style="color: red" ng-show="dlBookRequisition.status==true">Pending</span>
                        <span style="color: #008000" ng-show="dlBookRequisition.status==false">Approved</span></td>
                    <td>
                        <a ui-sref="dlContTypeSet.detail({id:dlBookRequisition.dlContTypeSet.id})">{{dlBookRequisition.dlContTypeSet.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="dlContCatSet.detail({id:dlBookRequisition.dlContCatSet.id})">{{dlBookRequisition.dlContCatSet.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="dlContSCatSet.detail({id:dlBookRequisition.dlContSCatSet.id})">{{dlBookRequisition.dlContSCatSet.name}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="dlBookRequisition.detail({id:dlBookRequisition.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <!--<button type="submit"-->
                                <!--ui-sref="dlBookRequisition.edit({id:dlBookRequisition.id})"-->
                                <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>-->
                        <!--</button>-->
                        <button type="submit"
                                ng-click="approve(dlBookRequisition.id)"
                                class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-ok"></span>&nbsp;<span translate="entity.action.approve"> approve</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(dlBookRequisition.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>


                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
