
<form name="editForm" class="form form-horizontal" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAclObjectIdentityLabel" translate="stepApp.aclObjectIdentity.home.createOrEditLabel">Create or edit a AclObjectIdentity</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="id" translate="global.field.id">ID</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="id" name="id" ng-model="aclObjectIdentity.id" readonly />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate="stepApp.aclObjectIdentity.entriesInheriting" for="field_entriesInheriting">EntriesInheriting</label>
            <div class="col-sm-8">
            <input type="checkbox" class="form-control" name="entriesInheriting" id="field_entriesInheriting"
                    ng-model="aclObjectIdentity.entriesInheriting"
                     />
            <div ng-show="editForm.entriesInheriting.$invalid">
                <p class="help-block"
                    ng-show="editForm.entriesInheriting.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" translate="stepApp.aclObjectIdentity.aclClass" for="field_aclClass">aclClass</label>
            <div class="col-sm-8">
                <select class="form-control" id="field_aclClass" name="aclClass" ng-model="aclObjectIdentity.aclClass" ng-options="aclClass as aclClass.aclClass for aclClass in aclclasss track by aclClass.id">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate="stepApp.aclObjectIdentity.aclSid" for="field_aclSid">aclSid</label>
            <div class="col-sm-8">
                <select class="form-control" id="field_aclSid" name="aclSid" ng-model="aclObjectIdentity.aclSid" ng-options="aclSid as aclSid.sid for aclSid in aclsids track by aclSid.id">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate="stepApp.aclObjectIdentity.parent" for="field_parent">parent</label>
            <div class="col-sm-8">
                <select class="form-control" id="field_parent" name="parent" ng-model="aclObjectIdentity.parent" ng-options="aclObjectIdentity as aclObjectIdentity.id for aclObjectIdentity in parents | orderBy:'id' track by aclObjectIdentity.id">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                </button>
            </div>
        </div>
    </div>
</form>
