<div class="panel-body">

    <div class="attachment_info">


        <div class="col-sm-12 timescale-apply">
            <form name="editForm" class="form form-horizontal col-sm-12" role="form" novalidate ng-submit="save()"
                  show-validation>

                <h3 translate="stepApp.bEdApplication.detail.title">B.Ed Training Information</h3>



                <div class="col-sm-12">

                    <div class="form-group">

                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplTraining.subjectsCoverd" for="field_subjectsCoverd">SubjectsCoverd</label>
                        <textarea type="text" class="form-control" name="subjectsCoverd" id="field_subjectsCoverd"
                                  ng-model="instEmplTraining.subjectsCoverd"
                                  required ></textarea>
                        <div ng-show="editForm.subjectsCoverd.$invalid">
                            <p class="help-block"
                               ng-show="editForm.subjectsCoverd.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplTraining.location" for="field_location">Location</label>
                        <input type="text" class="form-control" name="location" id="field_location"
                               ng-model="instEmplTraining.location"
                               required />
                        <div ng-show="editForm.location.$invalid">
                            <p class="help-block"
                               ng-show="editForm.location.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplTraining.startedDate" for="field_startedDate">StartedDate</label>
                        <!--<input type="date" class="form-control" name="startedDate" id="field_startedDate"
                               ng-model="instEmplTraining.startedDate"
                            />-->
                        <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.startedDate"
                               required=""
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'startedDate')" class="form-control"
                               name="startedDate" id="field_startedDate"
                               ng-model="instEmplTraining.startedDate"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplTraining.endedDate" for="field_endedDate">EndedDate</label>
                        <!--<input type="date" class="form-control" name="endedDate" id="field_endedDate"
                               ng-model="instEmplTraining.endedDate"
                            />-->
                        <input datepicker-popup="{{calendar.dateFormat}}" is-open="calendar.opened.endedDate"
                               required=""
                               datepicker-options="calendar.dateOptions" close-text="Close"
                               ng-click="calendar.open($event, 'endedDate')" class="form-control"
                               name="startedDate" id="field_endedDate"
                               ng-model="instEmplTraining.endedDate"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label translate="stepApp.instEmplTraining.result" for="field_result">Result</label>
                        <input type="number" class="form-control" name="result" id="field_result"
                               ng-model="instEmplTraining.result"
                            />
                    </div>


                    <div class="form-group col-md-6" ngf-drop ngf-change="setBedAttachment($file, instEmplTraining)">
                        <label translate="stepApp.instEmplTraining.attachment" for="field_attachment">Attachment</label>

                        <div>
                            <div class="help-block clearfix">
                                <span class="pull-left">{{instEmplTraining.attachmentContentType}} {{byteSize(instEmplTraining.attachment)}}</span>
                                <button ng-click="instEmplTraining.attachment=null;instEmplTraining.attachmentContentType=null;"
                                        ng-if="instEmplTraining.attachment"
                                        class="btn btn-default btn-xs pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                            <!-- <button type="file" ngf-select class="btn btn-default btn-block"
                                                 ngf-change="setAttachment($file, instEmplExperience)" translate="entity.action.addblob">
                             Add blob
                         </button>
                             <input type="file" ngf-select class="btn btn-default btn-block"
                                    ngf-change="setAttachment($file, instEmplExperience)" translate="entity.action.addblob">
                             </input>
                         </div>-->
                            <div class="form-group col-md-9 no_padding">
                                <input type="text" readonly class="form-control" name="birthCertNoName"
                                       id="field_birthCertImageName"
                                       ng-model="instEmplTraining.attachmentName"
                                    />
                            </div>
                            <div class="form-group col-md-3">
                                <button type="file" ngf-select class="btn btn-default btn-block"
                                        ngf-change="setBedAttachment($file, instEmplTraining)" translate="entity.action.addblob">
                                    Add blob
                                </button>
                            </div>
                            <input type="hidden" class="form-control" name="attachment" id="field_attachment"
                                   ng-model="instEmplTraining.attachment"
                                />
                            <input type="hidden" class="form-control" name="attachmentContentType"
                                   id="field_attachmentContentType"
                                   ng-model="instEmplTraining.attachmentContentType"/>
                        </div>
                    </div>

                </div>
               <div class="col-sm-12">
                   <h3 translate="{{'stepApp.employee.AttachmentInformation'}}">Attachment Information</h3>

                <div class="attachmentDiv" ng-repeat="attachmentCount in applicantAttachmentCount track by $index">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="form-control" id="field_attachment" name="attachment"
                                        ng-model="applicantAttachment[attachmentCount].attachment"
                                        ng-change="setAttachment($index, applicantAttachment[attachmentCount])">
                                    <option value="" selected="selected" translate="{{'stepApp.employee.AttachmentName'}}">Attachment Name</option>
                                    <option
                                        ng-repeat="mpoAttachment in attachmentCategoryList "
                                        value="{{mpoAttachment}}">
                                        {{mpoAttachment.attachmentName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6" ng-hide="applicantAttachment[attachmentCount].noAttachment">
                            <div class="form-group" ngf-drop ngf-change="setFile($file, attachment)">
                                <div>
                                    <div class="help-block clearfix">
                                        <span class="pull-left">{{applicantAttachment[attachmentCount].fileContentType}} {{byteSize(applicantAttachment[attachmentCount].file)}}</span>
                                        <button
                                            ng-click="applicantAttachment[attachmentCount].file=null;applicantAttachment[attachmentCount].fileContentType=null;"
                                            ng-if="applicantAttachment[attachmentCount].file"
                                            class="btn btn-default btn-xs pull-right">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                    <div class="col-sm-12">
                                        <input type="file" ngf-select class="btn btn-default btn-sm col-sm-6"
                                               ngf-change="setFile($file, applicantAttachment[attachmentCount])"
                                               translate="entity.action.addblob">
                                        </input>
                                        <div class="col-sm-6" ng-hide="attachmentCount=='0'">
                                        <span class="col-sm-6 minus-btn"
                                              ng-click="removeAttachment(attachmentCount)"><span
                                            class="glyphicon glyphicon-minus"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" class="form-control" name="file" id="field_file"
                                       ng-model="applicantAttachment[attachmentCount].file"
                                    />
                                <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                                       ng-model="applicantAttachment[attachmentCount].fileContentType"/>
                            </div>
                        </div>
                        <div class="col-sm-6" ng-show="applicantAttachment[attachmentCount].noAttachment">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <input class="form-control" type="text"  ng-change="remarksChange(applicantAttachment[attachmentCount].noAttachment,applicantAttachment[attachmentCount].remarks)"
                                           ng-model="applicantAttachment[attachmentCount].remarks" placeholder="Remarks"/>
                                </div>
                                <div class="col-sm-6" ng-hide="attachmentCount=='0'">
                                <span class="col-sm-6 minus-btn" ng-click="removeAttachment(attachmentCount)"><span
                                    class="glyphicon glyphicon-minus"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 attachment_file">
                        <div class="control-lebel">
                            <div class="col-sm-12">
                                <input ng-click='selectNoAttachment(applicantAttachment[attachmentCount].noAttachment,applicantAttachment[attachmentCount].attachment,applicantAttachment[attachmentCount].file,applicantAttachment[attachmentCount].remarks)' type="checkbox" id="noAttachment"
                                       ng-model="applicantAttachment[attachmentCount].noAttachment">
                                <label class="control-label my_control_lebel"
                                       for="field_noAttachment" translate="{{'stepApp.employee.dontHave'}}">I don't have this attachment</label>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-sm-12">
                <span ng-show="showAddMoreButton" class="btn btn-sm btn-primary pull-right"
                      ng-click="addMoreAttachment()"><span
                    class="glyphicon glyphicon-plus"></span>Add More Attachment</span>
                </div>
                <div class="col-sm-12" ng-show="duplicateError">
                    <span style="color:red;margin-top:30px;font-size:14px;">You have selected duplicate attachment, please check the selection.</span>
                </div>
                <div class="col-sm-12">
                    <div class="form-group my_form_group">
                        <br/>

                        <div class="col-lg-12 pull-right text-right">
                           <!-- <span class="btn btn-primary pull-left text-left" ng-click="timescalePrev('attachment', 'education')" translate="{{'stepApp.employee.Previous'}}">Previous</span>-->

                            <button ng-disabled="mpoFormHasError" type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-ok-sign"></span>&nbsp;<span
                                translate="global.menu.apply">Apply</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
