<!--<div class="row">
    <div class="col-md-3">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>

    <div class="col-md-9">-->
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <caption class="caption notice text-center">
                    <div translate="entity.action.found"
                         translate-values="{found: '{{mpoApplications.length}}', total: '{{total}}'}">{{mpoApplications.length}} applications
                        retrieved from total of {{total}} applications
                    </div>
                </caption>

                <thead>
                <tr>
                    <th ng-click="order('name', reverse=!reverse)" translate="stepApp.mpoApplication.applicationName">Application Name</th>
                    <th ng-click="order('name', reverse=!reverse)" translate="stepApp.employee.name">Name</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="mpoApplication in mpoApplications  | filter:filter | orderBy:predicate:reverse track by mpoApplication.id">
                    <td>{{mpoApplication.instEmployee.name}}</td>
                    <td><a ui-sref="mpo.details({id:mpoApplication.id})">{{mpoApplication.instEmployee.code}}</a></td>

                </tr>
                </tbody>
            </table>
        </div>
<!--
    </div>
</div>
-->
