<!--<div class="row">
    <div class="col-md-3">
        <ng-include src="'scripts/app/account/mpo/mpo-left-menu.html'"></ng-include>
    </div>

    <div class="col-md-9">-->
        <div class="cmscurriculam">
            <div class="panel-heading cmsheading">
                <h3 class="panel-title">
                    Salary Generate
                </h3>
            </div>
        </div>
        <!--{{mpoApplication}}-->

        <form name="payScaleAssignForm" role="form" novalidate ng-submit="save()">
            <div class="col-sm-12 pnl-border payscale-ass">
            <div class="form-group">
                <div class="col-sm-6">
                    <table class="table td">
                        <thead>
                        <th colspan="2">MPO Application Name</th>
                        </thead>
                        <tbody>
                         <tr>
                             <td>
                                 {{mpoApplication.instEmployee.name}}
                             </td>
                             </tr>
                         <tr>
                             <td>
                                 {{mpoApplication.instEmployee.email}}
                             </td>
                         </tr>
                         <tr>
                             <td>
                             {{mpoApplication.instEmployee.contactNo}}
                             </td>
                         </tr>
                        </tbody>
                    </table>
                </div>
                <div  class="col-sm-6">
                    <table class="table td">
                        <thead>
                            <th colspan="2">PayScale Details</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{'stepApp.payScale.code' | translate}}</td>
                            <td>{{mpoApplication.instEmployee.payScale.code}}</td>
                        </tr>
                        <tr>
                            <td>{{'stepApp.payScale.payScaleClass' | translate}}</td>
                            <td>{{mpoApplication.instEmployee.payScale.payScaleClass}}</td>
                        </tr>
                        <tr>
                            <td>{{'stepApp.payScale.grade' | translate}}</td>
                            <td>{{mpoApplication.instEmployee.payScale.grade}}</td>
                        </tr>
                        <tr>
                            <td>{{'stepApp.payScale.gradeName' | translate}}</td>
                            <td>{{mpoApplication.instEmployee.payScale.gradeName}}</td>
                        </tr>
                        <tr>
                            <td>{{'stepApp.payScale.basicAmount' | translate}}</td>
                            <td>{{mpoApplication.instEmployee.payScale.basicAmount}}</td>
                        </tr>
                        <tr>
                            <td>{{'stepApp.payScale.houseAllowance' | translate}}</td>
                            <td>{{mpoApplication.instEmployee.payScale.houseAllowance}}</td>
                        </tr>
                        <tr>
                            <td>{{'stepApp.payScale.medicalAllowance' | translate}}</td>
                            <td>{{mpoApplication.instEmployee.payScale.medicalAllowance}}</td>
                        </tr>
                        <tr>
                            <td>{{'stepApp.payScale.welfareAmount' | translate}}</td>
                            <td>{{mpoApplication.instEmployee.payScale.welfareAmount}}</td>
                        </tr>
                        <tr>
                            <td>{{'stepApp.payScale.retirementAmount' | translate}}</td>
                            <td>{{mpoApplication.instEmployee.payScale.retirementAmount}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label class="">Select Target Year</label>
                <select ng-model="year" ng-options="year.key as year.value for year in years">
                    <option value="" selected="selected">Select target year</option>
                </select>
            </div>

            <div class="form-group col-sm-6">
                <label class="">Select Target Month</label>
                <select ng-model="month" ng-options="month.key as month.value for month in months">
                    <option value="" selected="selected">Select target month</option>
                </select>
            </div>
            <div class="col-sm-12 text-right no-print">
                <button type="submit" ng-click="generateSalary()" class="btn btn-primary">Generate Salary</button>
            </div>
                </div>
        </form>
<!--
    </div>
</div>
-->
