<div>
    <h2>Requisition Management</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a VclRequisition</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="requisitionType"><span translate="stepApp.vclRequisition.requisitionType">RequisitionType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vehicleType"><span translate="stepApp.vclRequisition.vehicleType">VehicleType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="requisitionStatus"><span translate="stepApp.vclRequisition.requisitionStatus">RequisitionStatus</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span translate="stepApp.vclRequisition.user">user</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vclRequisition in vclRequisitions | filter:{ requisitionStatus: 'Open', activeStatus:true} track by vclRequisition.id">
                    <td><a ui-sref="vclRequisition.detail({id:vclRequisition.id})">{{vclRequisition.id}}</a></td>
                    <td translate="{{'stepApp.requisitionTypes.' + vclRequisition.requisitionType}}">{{vclRequisition.requisitionType}}</td>
                    <td translate="{{'stepApp.vehicleTypes.' + vclRequisition.vehicleType}}">{{vclRequisition.vehicleType}}</td>
                    <td translate="{{'stepApp.requisitionStatus.' + vclRequisition.requisitionStatus}}">{{vclRequisition.requisitionStatus}}</td>
                    <td>
                        <a ui-sref="User.detail({id:vclRequisition.user.id})">{{vclRequisition.user.login}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="vclRequisition.detail({id:vclRequisition.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="vclRequisition.approve({id:vclRequisition.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp; Accept
                        </button>
                        <button type="submit"
                                ui-sref="vclRequisition.reject({id:vclRequisition.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp; Reject
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
