.external_cv h2 {
    background: #009200;
    padding: 5px 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

.external_cv_up {
    padding: 0px;
}

.external_cv_up h3 {
    background: #DDD none repeat scroll 0% 0%;
    color: #008000;
    padding: 5px 05px;
    font-size: 16px;
    font-weight: bold;
}

.k_personal_detail th {
    background: #009200 !important;
    padding: 15px;
    color: #fff;
    padding-top: 25px;
}

.th_left {
    text-align: left;
}

.th_right {
    text-align: right;
}

.k_personal_detail th a {
    color: #fff;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    color: #fff !important;
    background: #009200 !important;
    font-weight: bold;
}

.k_career_app th {
    background: #009200 !important;
    padding: 15px;
    color: #fff;
}

.re_image {
    text-align: center;
    padding: 0px;
}

.re_image h3 {
    color: #fff;
    background: #009200;
    font-size: 16px;
    padding: 5px;
    margin: 0px;
}

.languages {
    padding: 0px;
    padding-top: 25px;
}

.languages table tr th {
    color: #fff;
    background: #009200;
    font-size: 16px;
    padding: 5px;
    margin: 0px;
}

.languages table tr th a {
    color: #fff;
}

.references {
    padding: 0px;
    padding-top: 25px;
}

.references table tr th {
    color: #fff;
    background: #009200;
    font-size: 16px;
    padding: 5px;
    margin: 0px;
}

.references table tr th a {
    color: #fff;
}

.resume_main_skallital {
    border: 1px solid #ddd;
    width: 100%;
    float: left;
}

.skills {
    padding: 0px;
}

.skills table tr th {
    color: #fff;
    background: #009200;
    font-size: 16px;
    padding: 5px;
    margin: 0px;
}

.skills table tr th a {
    color: #fff;
}

.my_resume {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.my_resume h3 {
    margin: 0px;
    background: #009200;
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
}

.resume_main {
    width: 100%;
    float: left;
    padding: 0px 5px;
}

.employee_name {
    width: 75%;
    float: left;
}

.Profile_image {
    width: 25%;
    float: left;
    text-align: right;
}

.career_objective {
}

.career_objective p {
    padding: 5px;
}

.career_objective h3 {
    background: #009200;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
}

.career_objective {
    border-bottom: 1px solid #ddd;
    width: 100%;
    float: left;
}

.employment_history {
    width: 100%;
    float: left;
}

.employment_history h3 {
    background: #009200;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
}

.academic_qualification {
    width: 100%;
    float: left;
}

.academic_qualification h3 {
    background: #009200;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
}

.resume_skills {
    width: 100%;
    float: left;
}

.resume_skills h3 {
    background: #009200;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
}

.resume_languages {
    width: 100%;
    float: left;
}

.resume_languages h3 {
    background: #009200;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
}

.resume_preferred_area {
    width: 100%;
    float: left;
}

.resume_preferred_area h3 {
    background: #009200;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
}

.resume_career_app {
    width: 100%;
    float: left;
}

.resume_personal_details {
    width: 100%;
    float: left;
}

.resume_references {
    width: 100%;
    float: left;
}







