/* Base CSS */
.main-dashbord-area {
    position: relative;
    width: 100%;
}
.main-dashbord-area-bg {
  height: 100%;
  width: auto;
  background: #EDECEC;
}
.sidebar-menu ul {
    margin: 0;
    padding: 0;
}
.sidebar-menu ul li {
    display: block;
    padding: 0;
}
.sidebar-menu ul li a {
  background: #fff none repeat scroll 0 0;
  display: block;
  font-size: 15px;
  font-weight: 300;
  height: 62px;
  margin-bottom: 1px;
  padding-top:10px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}
.sidebar-menu{background:#fff}
.main-content{background:#fff}
.sidebar-menu ul li a:hover{background:#F4F4F4 none repeat scroll 0 0; color:#2b2b2b}
.sidebar-menu i.fa {
  font-size: 19px;
  padding: 11px;
}

.header-margin {
   margin: 0px;
}
.lang {
    background: #bababa none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    float: right;
    height: 29px;
    margin-top: 11px;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 86px;
}
.lang-area a:hover {
    background: #0D9947;
    color: #fff
}
.active {
    background: #0D9947;
    color: #fff
}
.lang-area i.fa {
    color: #fff;
    font-size: 27px;
    margin-top: 12px;
    margin-left: 6px;
}
.cover-header-area {
    margin-left: -14px;
    margin-right: 16px;
}
.parallelogram {
    background: #0b763b none repeat scroll 0 0;
    height: 186px;
    position: absolute;
    right: 228px;
    top: 0;
    transform: skew(31deg);
    width: 71px;
}
.khabikahbi {
    background: #0b763b  none repeat scroll 0 0;
    height: 186px;
    position: absolute;
    right: 0px;
    top: 0;
    transform: skew(0deg);
    width: 148px;
}
.habijabi {
    border-color: transparent #0b763b transparent transparent;
    border-style: solid;
    border-width: 0 112px 188px 68px;
    height: 0;
    position: absolute;
    right: 148px;
    top: 0;
    width: 0;
}
.top-area {
    margin-bottom: 186px;
    position: relative;
}
.top-area-bg {
    background: #0d9947 none repeat scroll 0 0;
    height: 186px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.top-area-banner img {
    height: auto;
    position: relative;
    width: 1155px;
}
.ins-logo img {
    height: 156px;
    left: 18px;
    padding-top: 51px;
    position: absolute;
    top: 0;
    width: 111px;
}
.govt-logo img {
  height: 168px;
  padding-top: 21px;
  position: absolute;
  right: -6px;
  top: 7px;
  width: 200px;
  z-index: 999;
}
.banner-heading {
    color: #fff;
    line-height: 1px;
    position: absolute;
    top: 85px;
}
.banner-heading h3 {
  margin-left: 33px;
  margin-top: 4px;
}
.top-header .navbar {
    margin-bottom: 0;
}
.top-header .nav > li > a:hover {
    background: transparent;
}
.top-header {
    background:#0b763b  none repeat scroll 0 0;
    color: #fff;
    display: block;
}
.top-header h3 {
    font-size: 18px;
    font-weight: 300;
    margin-left: 8px;
    margin-top: 13px;
}
table{
color:black;}
table > a{
color:#00664c;
}
label{
color:#333333;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
