/*******************
 * CODE HIGHLIGHTING
 *******************/

em {
    background-color: #ff0;
    padding: 0 2px;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    min-height: 100%;
    background: #333;
}

.dashed-bottom {
    border-bottom: dashed 1px #e0e0e0;
    padding-bottom: 10px;
}

.dashed-top {
    border-top: dashed 1px #e0e0e0;
    margin-top: 10px;
}

pre > code.highlight {
    padding: 16px;
    font-weight: 400;
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

pre, code {
    margin: 0;
    padding: 0;
    font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
    overflow-wrap: break-word;
}

pre > code.highlight {
    background-color: transparent;
    font-weight: 400;
    padding: 16px;
}

pre {
    margin-bottom: 10px;
}

code {
    font-size: 1.4rem;
    background: rgba(0, 0, 0, 0.065);
}

code.highlight {
    display: block;
    overflow-wrap: break-word;
}

code:not(.highlight) {
    display: block;
    color: #106CC8;
    margin-left: 1px;
    margin-right: 1px;
    padding: 1em 0.5em;
    border-radius: 2px;
}

.layout-content code.highlight {
    margin-bottom: 15px;
}
