[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .hide {
    display: none !important;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

html, body {
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    background: #fafafa;
}

body {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family:'Roboto', sans-serif;
}

.input-group-addon, .input-group-btn, .input-group .form-control, input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
}

.nav-tabs > li > a {
    background: rgba(0, 0, 0, .2);
    color: #333
}
.nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a{margin: 0 1px}
.tab-content > .tab-pane.active {
    display: block;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.form-search {
    height: 65px
}

.nav-tabs > li.active {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility
}

h1 {
    font-size: 2.25em
}

h2 {
    font-size: 2em
}

h3 {
    font-size: 1.75em
}

h4 {
    font-size: 1.5em
}

h5 {
    font-size: 1.25em
}

h6 {
    font-size: 1em;
}

p {
    margin: 0 0 0.5em
}

a {
    text-decoration: none;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    transition: color 0.1s linear
}

.btn-group-xs.actions {
    min-width: 200px;
}

.navbar.navbar-inverse {
    margin-bottom: 0;
}

.navbar-version {
    font-size: 10px;
    color: #ccc
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

a:hover, .hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

.alert .popover pre {
    font-size: 10px;
}

/* start Password strength bar style */
ul#strength, ul#strengthBar {
    display: inline;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    vertical-align: 2px;
}

//noinspection ALL
.point:last {
    margin: 0 !important;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}

/* end Password strength bar style */
/* Custom alerts for notification */
.alerts .alert {
    text-overflow: ellipsis;
}

.alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

/* end of Custom alerts for notification */
.center-block, nav {
    display: block;
    text-align: center;
    clear: both;
}

.navbar-brand {
    float: none;
}

.no-br {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px !important;
}

.btn-group-vertical {
    padding-right: 10px;
}

#content {
    min-height: 80vh;
    height: 100%;
}

.notice {
    color: #8a6d3b;
    background-color: #fcf8e3;
    padding: 6px;
    border: 1px solid #faebcc;
}

caption, .tab-head {
    margin: 10px 0;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    vertical-align: middle
}

.table > tbody {
    background: white
}

.table {
    border-bottom: 1px solid #DDDDDD;
}

.table > thead > tr {
    background-color: #d9edf7;
}

span.help {
    font-size: 12px;
}

.thumbnail > img, .thumbnail a > img.screenshot {
    width: 345px;
    height: 180px;
}

.swagger-section #header {
    display: none;
}

footer:before {
    content: '\2014 \00A0'
}

footer, .text-xs, .meta {
    color: #737373;
    font-size: 15px;
    text-transform: lowercase;
    font-style: italic;
    font-weight: normal;
}

#teaser {
    color: #695f88;
    text-align: center;
    margin: 0 auto;
    padding: 5px 70px;
    line-height: 1.3em;
}

.page-header {
    margin-top: 0px;
}

.form-horizontal .control-label {
    text-align: left;
}

.site-name {
    line-height: 50px;
    font-size: 32px;
}

.form-inline {
    display: inline;
}

pre {
    color: white
}

.container .jumbotron, .container-fluid .jumbotron {
    padding: 0 50px;
    color: #fff;
    background: #00A99D;
    margin-bottom: 0;
}

.container .jumbotron.bg-img {
    background-image: url("/assets/images/banner.png");
}

.jumbotron h1, .jumbotron .h1 {
    font-size: 36px;
}

.jobs li .media {
    border: 1px solid #DDDDDD;
    padding: 10px 0;
    margin: 10px;
}

.media .media-body p {
    margin: 0px;
}

.media-left, .media-right, .media-body {
    vertical-align: middle
}

accordion > div > div.panel > div.panel-collapse.in > .panel-body, accordion > div > div.panel > div.panel-collapse.in > .panel-body > ul {
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 0px;
}

.form {
    background: #d4d4d4
}

.form-inline .form-control.search-q {
    width: 670px;
}

.dash-icons {
    margin: 0 -10px 20px;
    overflow: hidden
}

.dash-icons li a {
    width: 150px
}

.dash-icons li {
    text-align: center;
    text-transform: uppercase;
    margin-right: 20px;
    margin-bottom: 20px;
}

.dash-icons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px
}

.dash-icons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word
}

.details li label {
    display: block
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    vertical-align: middle
}

.table > thead > tr > th {
    background-color: rgba(127, 152, 178, 0.12);
}

.table {
    border-bottom: 1px solid #DDDDDD;
}

/* Social button */
.jh-btn-social {
    margin-bottom: 5px;
}

.jh-btn-google {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-google:hover, .jh-btn-google:focus, .jh-btn-google:active, .jh-btn-google.active, .open > .dropdown-toggle.jh-btn-google {
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook:hover, .jh-btn-facebook:focus, .jh-btn-facebook:active, .jh-btn-facebook.active, .open > .dropdown-toggle.jh-btn-facebook {
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter {
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter:hover, .jh-btn-twitter:focus, .jh-btn-twitter:active, .jh-btn-twitter.active, .open > .dropdown-toggle.jh-btn-twitter {
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* end of Social Button */
td.btn-group {
    width: 230px;
}

.dte-glyphicons {
    margin: 0 -10px 20px;
    overflow: hidden
}

.dte-glyphicons-list {
    padding-left: 0;
    list-style: none
}

.dte-glyphicons li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff
}

.dte-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 64px
}

.dte-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word
}

.dte-glyphicons li:hover {
    color: #fff;
    background-color: #563d7c
}

/*MPO Custome CSS*/
.resume_main_ h2 {
    background: #009200;
    padding: 5px;
    margin: 0px;
    font-size: 16px;
}

.application_information, #industry-header h3 {
    background: #009200 none repeat scroll 0% 0%;
    color: #FFF;
    font-size: 20px;
    margin-bottom: 0px;
}

.headding h4 {
    background: #fff;
    color: #009200;
}

.application_information form {
    background: #ddd none repeat scroll 0% 0%;
    padding: 15px !important;
}

.application_information .control-label {
    font-weight: inherit;
    font-size: 12px;
    padding: 2px;
    color: #000;
    text-align: right;
}

.application_information .my_control_lebel {
    font-weight: inherit;
    font-size: 12px;
    padding: 2px;
    color: #000;
    text-align: right;
}

.my_form_control {
    height: 31px;
    font-size: 11px;
    color: #555;
    background-color: #FFF;
    padding: 0px 12px;
}

.my_form_group {
    margin-bottom: 0px;
    padding: 8px;
}

.no_padding {
    padding: 0px;
}

.my_submit_button {
    width: 100px;
    border: none;
    border-radius: 0;
    background: #009200;
    padding: 2px;
}
.help-block {
    font-size: 10px;
    display: inline;
    text-align: left;
}
/*End MPO Custome CSS*/

/* industry information */

.modal-title {
    line-height: 1em;
}

.job-button {
    margin-bottom: 0;
    padding: 10px 0;
}

.bg-danger {
    background-color: #DE1414;
    color: white;
}
.my_user span {
        font-size: 100px;
        color: #aaa;
        font-weight: bold;
    }
    .change_pass .panel-primary{margin-top: 25px; }

/*  job portal                   */

#login-panel{
    width: 1213px;
    height: 20px;
    background-color: black;
}

#all-jobs{
    background-color: #CCCCCC;
    width: 100%;
    height: 300px;
}
ul li{
    list-style: none;
}
ul li a, ul li a:link, ul li a:hover{
    text-decoration: none;
 }
#job-search-form {
    background-color: #666666;
    height: auto;
    width: auto;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}

#job-detail-info{
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    padding: 10px;
}
#ul-li li{
    list-style-type: square;
}
.sob-summary ul li{
padding-bottom:10px;
color: white;
}
#job-detail-info ul li{
padding-bottom:10px;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}
