

























.whiteframe {
    background: #fff;
    margin: 20px;
    padding: 20px;
}

$whiteframe-shadow-z1: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
$whiteframe-zindex-z1: 1;
$whiteframe-shadow-z2: 0px 8px 17px rgba(0, 0, 0, 0.2);
$whiteframe-zindex-z2: 2;
$whiteframe-shadow-z3: 0px 17px 50px rgba(0, 0, 0, 0.19);
$whiteframe-zindex-z3: 3;
$whiteframe-shadow-z4: 0px 16px 28px 0 rgba(0, 0, 0, 0.22);
$whiteframe-zindex-z4: 4;
$whiteframe-shadow-z5: 0px 27px 24px 0 rgba(0, 0, 0, 0.2);
$whiteframe-zindex-z5: 5;

.whiteframe-z1 {
    box-shadow: $whiteframe-shadow-z1;
}

.whiteframe-z2 {
    box-shadow: $whiteframe-shadow-z2;
}

.whiteframe-z3 {
    box-shadow: $whiteframe-shadow-z3;
}

.whiteframe-z4 {
    box-shadow: $whiteframe-shadow-z4;
}

.whiteframe-z5 {
    box-shadow: $whiteframe-shadow-z5;
}

.whiteframe-glow-z1, .whiteframe-glow-z2 {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 0px 2px 2px rgba(0, 0, 0, 0.098),
    0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

.whiteframe-glow-z2 {
    padding: 10px 20px;
}

@media screen and (-ms-high-contrast: active) {
    whiteframe {
        border: 1px solid #fff;
    }
}
