<div class="col-md-12 common-list">
    <h2 translate="stepApp.iisCourseInfo.home.title">IisCourseInfos</h2>
    <!--<jh-alert></jh-alert>-->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="iisCourseInfo.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.iisCourseInfo.home.createLabel">Create a new IisCourseInfo</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a IisCourseInfo</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 table-responsive no_padding">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="stepApp.iisCourseInfo.perDateEdu">PerDateEdu</th>
                    <th translate="stepApp.iisCourseInfo.perDateBteb">PerDateBteb</th>
                    <th translate="stepApp.iisCourseInfo.mpoEnlisted">MpoEnlisted</th>
                    <th translate="stepApp.iisCourseInfo.dateMpo">DateMpo</th>
                    <th translate="stepApp.iisCourseInfo.seatNo">SeatNo</th>
                    <th translate="stepApp.iisCourseInfo.shift">Shift</th>
                    <th translate="stepApp.iisCourseInfo.iisCurriculumInfo">iisCurriculumInfo</th>
                    <th translate="stepApp.iisCourseInfo.cmsTrade">cmsTrade</th>
                    <th translate="stepApp.iisCourseInfo.cmsSubject">cmsSubject</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="iisCourseInfo in iisCourseInfos track by iisCourseInfo.id">
                    <td><a ui-sref="iisCourseInfo.detail({id:iisCourseInfo.id})">{{iisCourseInfo.id}}</a></td>
                        <td>{{iisCourseInfo.perDateEdu | date:'mediumDate'}}</td>
                        <td>{{iisCourseInfo.perDateBteb | date:'mediumDate'}}</td>
                    <td>{{iisCourseInfo.mpoEnlisted}}</td>
                    <td>{{iisCourseInfo.dateMpo}}</td>
                    <td>{{iisCourseInfo.seatNo}}</td>
                    <td>{{iisCourseInfo.shift}}</td>
                    <td>
                        <a ui-sref="iisCurriculumInfo.detail({id:iisCourseInfo.iisCurriculumInfo.id})">{{iisCourseInfo.iisCurriculumInfo.recNo}}</a>
                    </td>
                    <td>
                        <a ui-sref="cmsTrade.detail({id:iisCourseInfo.cmsTrade.id})">{{iisCourseInfo.cmsTrade.code}}</a>
                    </td>
                    <td>
                        <a ui-sref="cmsSubject.detail({id:iisCourseInfo.cmsSubject.id})">{{iisCourseInfo.cmsSubject.code}}</a>
                    </td>
                    <td class="text-right">
                        <button type="submit"
                                ui-sref="iisCourseInfo.detail({id:iisCourseInfo.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="iisCourseInfo.edit({id:iisCourseInfo.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="iisCourseInfo.delete({id:iisCourseInfo.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
