<div class="list-group">
    <a class="list-group-item" ui-sref="instGenInfo.dashboard" ui-sref-active="active">
        <span class="glyphicon glyphicon-dashboard"></span>
        <span translate="global.menu.account.dashboard">Dashboard</span>
    </a>

    <a class="list-group-item" ui-sref="instGenInfo.generalinfo" ui-sref-active="active" has-authority="ROLE_ADMIN">
    <!--<a class="list-group-item" ui-sref="instGenInfo.generalinfo" ui-sref-active="active">-->
        <span class="glyphicon glyphicon-th-list"></span>
        <span translate="global.menu.entities.instGenInfo">General Information</span>
    </a>
    <a class="list-group-item" ui-sref="instGenInfo.detail" ui-sref-active="active" has-authority="ROLE_INSTITUTE">
        <!--<a class="list-group-item" ui-sref="instGenInfo.generalinfo" ui-sref-active="active">-->
        <span class="glyphicon glyphicon-th-list"></span>
        <span translate="global.menu.entities.instGenInfo">General Information</span>
    </a>
    <a class="list-group-item" ui-sref="instGenInfo.insAcademicInfo" ui-sref-active="active">
        <span class="glyphicon glyphicon-book"></span>
        <span translate="global.menu.entities.instAcaInfo">Academic Information</span>
    </a>
    <a ui-sref="instGenInfo.instAdmInfo" ui-sref-active="active" class="list-group-item"><span
        class="glyphicon glyphicon-user"></span>
        &#xA0;<span translate="global.menu.entities.instAdminInfo">Administrative Info</span></a>
    <a ui-sref="instGenInfo.instEmpCount" ui-sref-active="active" class="list-group-item"><span
        class="glyphicon glyphicon-briefcase"></span>
        &#xA0;<span translate="global.menu.entities.instStuffInfo">Teacher/Employee Info</span></a>
    <a ui-sref="instGenInfo.instInfraInfo" ui-sref-active="active" class="list-group-item"><span
        class="glyphicon glyphicon-bookmark"></span>
        &#xA0;<span translate="global.menu.entities.instInfraInfo">Physical Infrastructure</span></a>
    <a ui-sref="instGenInfo.instFinancialInfo" ui-sref-active="active" class="list-group-item"><span
        class="glyphicon glyphicon-envelope"></span>
        &#xA0;<span translate="global.menu.entities.instFinancialInfo">Financial Info</span></a>
    <a ui-sref="instGenInfo.report" ui-sref-active="active" class="list-group-item"><span
        class="glyphicon glyphicon-envelope"></span>
        &#xA0;<span translate="global.menu.entities.instRptInfo">Report</span></a>
</div>

