<div class="list-group">
    <ul class="nav nav-list bs-docs-sidenav su_emp_pad" id="ulcolor3">
        <li>
            <a class="button4" ui-sref="dashboard" ui-sref-active="active">
                <span class="glyphicon glyphicon-dashboard"></span>
                <span translate="global.menu.account.dashboard">Dashboard</span>
                <a ui-sref="jobapplication" ui-sref-active="active" class="list-group-item" has-authority="ROLE_USER">
                    <span class="glyphicon glyphicon-file"></span>
                    <span translate="global.menu.entities.jobapplication">jobapplication</span>
                </a>
            </a></li>
        <li>
            <a ui-sref="resume.profile" ui-sref-active="active" class="button4" has-any-authority="ROLE_USER">
                <span class="glyphicon "></span>
                <span translate="global.menu.account.myProfile">My Profile</span>
            </a></li>
        <li>
            <a ui-sref="resume.cvAttachment" ui-sref-active="active" class="button4"
               has-any-authority="ROLE_USER">
                <span class="glyphicon glyphicon-upload "></span>
                <span translate="global.menu.account.cvAttachment">CV Attachment</span>
            </a></li>
        <li>
            <a ui-sref="employer.profile" ui-sref-active="active" class="button4"
               has-any-authority="ROLE_EMPLOYER">
                <span class="glyphicon glyphicon-home"></span>
                <span translate="global.menu.account.myAccount">My Account</span>
            </a></li>
        <li>
            <a class="button4" ui-sref="mpo" ui-sref-active="active"
               has-any-authority="ROLE_ADMIN,ROLE_MANAGER">
                <span class="glyphicon glyphicon-th-list"></span>
                <span translate="global.menu.account.mpo">MPO</span>
            </a></li>
        <li>
            <a class="button4" ui-sref="resume.view" ui-sref-active="active" has-authority="ROLE_USER">
                <span class="glyphicon glyphicon-book"></span>
                <span translate="global.menu.account.viewResume">View Resume</span>
            </a></li>
        <li>
            <a class="button4" ui-sref="resume" ui-sref-active="active" has-authority="ROLE_USER">
                <span class="glyphicon glyphicon-book"></span>
                <span translate="global.menu.account.editresume">Edit Resume</span>
            </a></li>
        <li>

            <a ui-sref="employee" ui-sref-active="active" class="button4" has-authority="ROLE_ADMIN">
                <span class="glyphicon glyphicon-user"></span>
                <span translate="global.menu.entities.employee">employee</span>
            </a></li>
        <li>
            <a ui-sref="employer.profile" ui-sref-active="active" class="button4" has-authority="ROLE_MANAGER">
                <span class="glyphicon glyphicon-user"></span>
                <span translate="global.menu.entities.employer">Employer</span>
            </a></li>
        <li>
            <a ui-sref="institute" ui-sref-active="active" class="button4" has-authority="ROLE_ADMIN">
                <span class="glyphicon glyphicon-bookmark"></span>
                &#xA0;<span translate="global.menu.entities.institute">institute</span></a>
        </li>
        <li>
            <a ui-sref="employer.new-job" ui-sref-active="active" class="button4"
               has-any-authority="ROLE_EMPLOYER"><span
                class="glyphicon glyphicon-plus"></span>
                &#xA0;<span translate="global.menu.account.createJob">Post Job</span></a>
        </li>
        <li>
            <a ui-sref="employer.job-list" ui-sref-active="active" class="button4"
               has-any-authority="ROLE_EMPLOYER"><span
                class="glyphicon glyphicon-eye-open"></span>
                &#xA0;<span translate="global.menu.account.jobManagement">Job Management</span></a>
        </li>
        <li>
            <a ui-sref="employer.change-password" ui-sref-active="active" class="button4"
               has-any-authority="ROLE_EMPLOYER,ROLE_USER"><span
                class="glyphicon glyphicon-lock"></span>
                &#xA0;<span translate="global.menu.account.changePassword">Change Password</span></a>
        </li>
        <li>
            <a ui-sref="#" class="button4" has-any-authority="ROLE_EMPLOYER"><span
                class="glyphicon glyphicon-log-out"></span>
                &#xA0;<span translate="global.menu.account.logout">Sign Out</span></a>
        </li>
        <li>
            <a ui-sref="principalRequirement" ui-sref-active="active" class="button4"
               has-any-authority="ROLE_MANAGER,ROLE_ADMIN"><span
                class="glyphicon glyphicon-asterisk"></span>
                &#xA0;<span translate="global.menu.entities.principalRequirement">principalRequirement</span></a>
            <a ui-sref="reference" ui-sref-active="active" class="button4"
               has-any-authority="ROLE_MANAGER,ROLE_ADMIN"><span
                class="glyphicon glyphicon-share-alt"></span>
                &#xA0;<span translate="global.menu.entities.reference">reference</span></a>
        </li>
        <li>
            <a ui-sref="result" ui-sref-active="active" class="button4"
               has-any-authority="ROLE_MANAGER,ROLE_ADMIN"><span
                class="glyphicon glyphicon-glass"></span>
                &#xA0;<span translate="global.menu.entities.result">result</span></a>
        </li>
        <li>
            <a ui-sref="skill" ui-sref-active="active" class="button4"
               has-any-authority="ROLE_MANAGER,ROLE_ADMIN"><span
                class="glyphicon glyphicon-ok-circle"></span>
                &#xA0;<span translate="global.menu.entities.skill">skill</span></a>
        </li>
        <li>
            <a ui-sref="training" ui-sref-active="active" class="button4"
               has-any-authority="ROLE_MANAGER,ROLE_ADMIN"><span
                class="glyphicon glyphicon-certificate"></span>
                &#xA0;<span translate="global.menu.entities.training">training</span></a>
        </li>
        <li>
            <a ui-sref="staffCount" ui-sref-active="active" class="button4"
               has-any-authority="ROLE_MANAGER,ROLE_ADMIN"><span
                class="glyphicon glyphicon-stats"></span>
                &#xA0;<span translate="global.menu.entities.staffCount">staffCount</span></a>
        </li>
        <li>
            <a ui-sref="applicantEducation" ui-sref-active="active" class="button4"
               has-any-authority="ROLE_MANAGER,ROLE_ADMIN"><span
                class="glyphicon glyphicon-education"></span>
                &#xA0;<span translate="global.menu.entities.applicantEducation">applicantEducation</span></a>
        </li>
        <li>
            <a ui-sref="vacancy" ui-sref-active="active" class="button4"
               has-any-authority="ROLE_MANAGER,ROLE_ADMIN"><span
                class="glyphicon glyphicon-baby-formula"></span>
                &#xA0;<span translate="global.menu.entities.vacancy">vacancy</span></a>
        </li>
        <li>
            <a ui-sref="payScale" ui-sref-active="active" class="button4"
               has-any-authority="ROLE_MANAGER,ROLE_ADMIN"><span
                class="glyphicon glyphicon-usd"></span>
                &#xA0;<span translate="global.menu.entities.payScale">payScale</span></a>
        </li>
        <li>
            <a ui-sref="cat" ui-sref-active="active" class="button4" has-any-authority="ROLE_ADMIN"><span
                class="glyphicon glyphicon-usd"></span>
                &#xA0;<span translate="global.menu.entities.cat">Category</span></a>
        </li>
        <li>
            <a ui-sref="country" ui-sref-active="active" class="button4" has-any-authority="ROLE_ADMIN"><span
                class="glyphicon glyphicon-usd"></span>
                &#xA0;<span translate="global.menu.entities.country">Country</span></a>
        </li>
    </ul>
</div>
