<div>
    <h2 translate="stepApp.mpoApplication.home.title">MpoApplications</h2>
    <jh-alert></jh-alert>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" ui-sref="mpoApplication.new">
                <span class="glyphicon glyphicon-flash"></span> <span translate="stepApp.mpoApplication.home.createLabel">Create a new MpoApplication</span>
            </button>
        </div>
        <div class="col-md-8">
            <form name="searchForm" class="form-inline pull-right" novalidate show-validation>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="search for..." required>
                </div>
                <button ng-disabled="searchForm.$invalid" class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span translate="entity.action.search">Search a MpoApplication</span>
                </button>
                <button ng-disabled="!areAllMpoApplicationsSelected" class="btn btn-default" ng-click="sync()">
                    <i class="glyphicon glyphicon-refresh" aria-label="sync"></i>
                    <span translate="entity.action.sync">sync</span>
                </button>
                <button ng-disabled="!areAllMpoApplicationsSelected" class="btn btn-default" ng-click="export()">
                    <i class="glyphicon glyphicon-export" aria-label="export"></i>
                    <span translate="entity.action.export">export</span>
                </button>

                <button ng-disabled="!areAllMpoApplicationsSelected" class="btn btn-default" ng-click="import()">
                    <i class="glyphicon glyphicon-import" aria-label="import"></i>
                    <span translate="entity.action.import">import</span>
                </button>

                <button ng-disabled="!areAllMpoApplicationsSelected" class="btn btn-default btn-danger" ng-click="deleteSelected()">
                    <i class="glyphicon glyphicon-trash" aria-label="delete"></i>
                    <span translate="entity.action.delete">delete</span>
                </button>
						
            </form>
        </div>
    </div>

    <div class="modal fade" id="deleteMpoApplicationConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(mpoApplication.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="stepApp.mpoApplication.delete.question" translate-values="{id: '{{mpoApplication.id}}'}">Are you sure you want to delete this MpoApplication?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-striped">
	        <caption class="caption notice text-center">
	            <div translate="entity.action.found"
	                 translate-values="{found: '{{mpoApplications.length}}', total: '{{total}}'}">{{cats.length}} mpoApplications retrieved from total of {{total}} mpoApplications              
	            </div>
	        </caption>
																		
            <thead>
                <tr>
	                <th><input type="checkbox" ng-model="areAllMpoApplicationsSelected" ng-change="updateMpoApplicationsSelection(mpoApplications, areAllMpoApplicationsSelected)"></th>	 
                    <th ng-click="order('id', reverse=!reverse)" translate="global.field.id">ID</th>
                    <th ng-click="order('name', reverse=!reverse)" translate="stepApp.mpoApplication.name">Name</th>
                    <th ng-click="order('date', reverse=!reverse)" translate="stepApp.mpoApplication.date">Date</th>
                    <th translate="stepApp.mpoApplication.employee">employee</th>
                    <th translate="stepApp.mpoApplication.institute">institute</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mpoApplication in mpoApplications  | filter:filter | orderBy:predicate:reverse track by mpoApplication.id">
				    <td><input type="checkbox" ng-model="mpoApplication.isSelected"/></td>
                    <td><a ui-sref="mpoApplication.detail({id:mpoApplication.id})">{{mpoApplication.id}}</a></td>
                    <td>{{mpoApplication.name}}</td>
                        <td>{{mpoApplication.date | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="employee.detail({id:mpoApplication.employee.id})">{{mpoApplication.employee.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="institute.detail({id:mpoApplication.institute.id})">{{mpoApplication.institute.name}}</a>
                    </td>
                    <td class="btn-group">
                        <button type="submit"
                                ui-sref="mpoApplication.detail({id:mpoApplication.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="mpoApplication.edit({id:mpoApplication.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(mpoApplication.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
