
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySisStudentRegLabel" translate="stepApp.sisStudentReg.home.createOrEditLabel">Create or edit a SisStudentReg</h4>
    </div>
    <div class="modal-body">
        <!--<jh-alert-error></jh-alert-error>-->
        <div class="col-sm-4">
            <div class="form-group">
                <label for="id" translate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id"
                        ng-model="sisStudentReg.id" readonly />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.applicationId" for="field_applicationId">ApplicationId</label>
                <input type="number" class="form-control" name="applicationId" id="field_applicationId"
                       ng-model="sisStudentReg.applicationId"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.instCategory" for="field_instCategory">InstCategory</label>
                <input type="text" class="form-control" name="instCategory" id="field_instCategory"
                       ng-model="sisStudentReg.instCategory"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.instituteName" for="field_instituteName">InstituteName</label>
                <input type="text" class="form-control" name="instituteName" id="field_instituteName"
                       ng-model="sisStudentReg.instituteName"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.curriculum" for="field_curriculum">Curriculum</label>
                <input type="text" class="form-control" name="curriculum" id="field_curriculum"
                       ng-model="sisStudentReg.curriculum"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.TradeTechnology" for="field_TradeTechnology">TradeTechnology</label>
                <input type="text" class="form-control" name="TradeTechnology" id="field_TradeTechnology"
                       ng-model="sisStudentReg.tradeTechnology"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.subject1" for="field_subject1">Subject1</label>
                <input type="text" class="form-control" name="subject1" id="field_subject1"
                       ng-model="sisStudentReg.subject1"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.subject2" for="field_subject2">Subject2</label>
                <input type="text" class="form-control" name="subject2" id="field_subject2"
                       ng-model="sisStudentReg.subject2"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.subject3" for="field_subject3">Subject3</label>
                <input type="text" class="form-control" name="subject3" id="field_subject3"
                       ng-model="sisStudentReg.subject3"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.subject4" for="field_subject4">Subject4</label>
                <input type="text" class="form-control" name="subject4" id="field_subject4"
                       ng-model="sisStudentReg.subject4"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.subject5" for="field_subject5">Subject5</label>
                <input type="text" class="form-control" name="subject5" id="field_subject5"
                       ng-model="sisStudentReg.subject5"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.optional" for="field_optional">Optional</label>
                <input type="text" class="form-control" name="optional" id="field_optional"
                       ng-model="sisStudentReg.optional"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.shift" for="field_shift">Shift</label>
                <input type="text" class="form-control" name="shift" id="field_shift"
                       ng-model="sisStudentReg.shift"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.semester" for="field_semester">Semester</label>
                <input type="text" class="form-control" name="semester" id="field_semester"
                       ng-model="sisStudentReg.semester"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.studentName" for="field_studentName">StudentName</label>
                <input type="text" class="form-control" name="studentName" id="field_studentName"
                       ng-model="sisStudentReg.studentName"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.fatherName" for="field_fatherName">FatherName</label>
                <input type="text" class="form-control" name="fatherName" id="field_fatherName"
                       ng-model="sisStudentReg.fatherName"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.motherName" for="field_motherName">MotherName</label>
                <input type="text" class="form-control" name="motherName" id="field_motherName"
                       ng-model="sisStudentReg.motherName"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.dateOfBirth" for="field_dateOfBirth">DateOfBirth</label>
                <input type="text" class="form-control" name="dateOfBirth" id="field_dateOfBirth"
                       ng-model="sisStudentReg.dateOfBirth"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.gender" for="field_gender">Gender</label>
                <input type="text" class="form-control" name="gender" id="field_gender"
                       ng-model="sisStudentReg.gender"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.religion" for="field_religion">Religion</label>
                <input type="text" class="form-control" name="religion" id="field_religion"
                       ng-model="sisStudentReg.religion"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.bloodGroup" for="field_bloodGroup">BloodGroup</label>
                <input type="text" class="form-control" name="bloodGroup" id="field_bloodGroup"
                       ng-model="sisStudentReg.bloodGroup"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.quota" for="field_quota">Quota</label>
                <input type="text" class="form-control" name="quota" id="field_quota"
                       ng-model="sisStudentReg.quota"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.nationality" for="field_nationality">Nationality</label>
                <input type="text" class="form-control" name="nationality" id="field_nationality"
                       ng-model="sisStudentReg.nationality"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.mobileNo" for="field_mobileNo">MobileNo</label>
                <input type="text" class="form-control" name="mobileNo" id="field_mobileNo"
                       ng-model="sisStudentReg.mobileNo"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.contactNoHome" for="field_contactNoHome">ContactNoHome</label>
                <input type="text" class="form-control" name="contactNoHome" id="field_contactNoHome"
                       ng-model="sisStudentReg.contactNoHome"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.emailAddress" for="field_emailAddress">EmailAddress</label>
                <input type="text" class="form-control" name="emailAddress" id="field_emailAddress"
                       ng-model="sisStudentReg.emailAddress"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.presentAddress" for="field_presentAddress">PresentAddress</label>
                <input type="text" class="form-control" name="presentAddress" id="field_presentAddress"
                       ng-model="sisStudentReg.presentAddress"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.permanentAddress" for="field_permanentAddress">PermanentAddress</label>
                <input type="text" class="form-control" name="permanentAddress" id="field_permanentAddress"
                       ng-model="sisStudentReg.permanentAddress"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.activeStatus" for="field_activeStatus">ActiveStatus</label>
                <input type="checkbox" class="form-control" name="activeStatus" id="field_activeStatus"
                       ng-model="sisStudentReg.activeStatus"
                    />
            </div>
        </div>

        <div hidden class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.createDate" for="field_createDate">CreateDate</label>
                <input type="date" class="form-control" name="createDate" id="field_createDate"
                       ng-model="sisStudentReg.createDate"
                    />
            </div>
        </div>

        <div hidden class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.createBy" for="field_createBy">CreateBy</label>
                <input type="number" class="form-control" name="createBy" id="field_createBy"
                       ng-model="sisStudentReg.createBy"
                    />
            </div>
        </div>

        <div hidden class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.updateDate" for="field_updateDate">UpdateDate</label>
                <input type="date" class="form-control" name="updateDate" id="field_updateDate"
                       ng-model="sisStudentReg.updateDate"
                    />
            </div>
        </div>

        <div hidden class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.updateBy" for="field_updateBy">UpdateBy</label>
                <input type="number" class="form-control" name="updateBy" id="field_updateBy"
                       ng-model="sisStudentReg.updateBy"
                    />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label translate="stepApp.sisStudentReg.maritalStatus" for="field_maritalStatus">MaritalStatus</label>
                <input type="text" class="form-control" name="maritalStatus" id="field_maritalStatus"
                       ng-model="sisStudentReg.maritalStatus"
                    />
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
